.mapa-distribuidores {
  padding: 60px 0;
  height: 100%;
  text-align: center;
}

.mapa-distribuidores svg {
	display:block;
	width:100%;
	height:auto;
	max-height:100vh;
	display:block;
	margin: auto;
}

.mapa-distribuidores path {
	$fill:#f2f2f2;
	fill-rule:evenodd; fill:$fill;
	transition:fill 180ms;
	cursor:pointer;
	&.selected, &:hover {
		$fillSelected:#E5BD47;
		fill:$fillSelected;
	}
}

.land {
  fill:#f7be96;
  stroke:#000;
  stroke-opacity: 1;
  stroke-width:0.5;
  transition: 0.3s fill ease-in-out;
}
      

#AE.land:hover,
#AR.land:hover,
#SA.land:hover,
#AU.land:hover,
#BR.land:hover,
#CA.land:hover,
#CL.land:hover,
#CO.land:hover,
#EC.land:hover,
#EG.land:hover,
#IN.land:hover,
#IT.land:hover,
#IQ.land:hover,
#JP.land:hover,
#LK.land:hover,
#KR.land:hover,
#MX.land:hover,
#MY.land:hover,
#PE.land:hover,
#RU.land:hover,
#SA.land:hover,
#SG.land:hover,
#TH.land:hover,
#TW.land:hover,
#US.land:hover,
#VN.land:hover,
#ZA.land:hover {
  fill:#fff;
  cursor:pointer;
  transition: 0.3s fill ease-in-out;
}




#AE,
#AR,
#AU,
#BR,
#CA,
#CL,
#CO,
#EC,
#EG,
#IN,
#IT,
#IQ,
#JP,
#KR,
#LK,
#MX,
#MY,
#PE,
#RU,
#SA, 
#SG, 
#TH, 
#TW, 
#US,
#VN,
#ZA {
  fill-opacity: 1;
  fill: #ef7d2d;
}

.mapa-distribuidores .modal.fade.show {
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
}

.mapa-distribuidores .modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.mapa-distribuidores .modal-content {
  max-width: 600px;
  background-color: #333;
  margin: 10px;
}

.mapa-distribuidores .modal-body {
  width: 100%;
  padding: 0 1rem;
}

.mapa-distribuidores .modal-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #FFF;
  padding: 30px;
}

.mapa-distribuidores .modal-logo img{
  width: 100%;
}

.mapa-distribuidores .modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  min-height: 200px;
}

.mapa-distribuidores .modal-info h5, .mapa-distribuidores .modal-info p {
  color:#ef7d2d;
}

.mapa-distribuidores .modal-footer {
  background-color:#ef7d2d;
  justify-content: center;
  position: relative;
  border-radius: 0;
}

.mapa-distribuidores .modal-footer .pais {
  color: #FFF;
  text-align: center;
  font-size: 24px;
}

.mapa-distribuidores .modal-footer .close {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  transition: 0.3s all;
  position: absolute;
  right: 20px;
  border: 2px solid white;
  padding: 5px 9px;
  border-radius: 50px;
}

.mapa-distribuidores .modal-dialog.mod-cuatro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mapa-distribuidores .modal-dialog.mod-cuatro .col-12.cuatro {
  -ms-flex: 0 0 100%;
  flex: 0 0 50%;
  max-width: 100%;
}

.mapa-distribuidores .modal-dialog.mod-cuatro .modal-content {
  max-width: 600px;
  background-color: #333;
  margin: 20px;
  padding: 0;
}



@media (max-width: 768px) {

  .mapa-distribuidores .modal-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: max-content;
}
  
}

@media (max-width: 576px) {

  #comprar {
    padding: 0 15px 60px;
  }

  .map-pc {
    display: none !important;
  }
}   