@charset "utf-8";
/* CSS Document */

.bg-qb {
	background: rgb(57,163,143);
	background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(57,163,143,0) 40%);
    border-top: 1px solid #000;
}

.fam-QB.bg-qb {
	background: rgb(57,163,143);
	background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(57,163,143,0) 40%);
}

.series7 .fam-QB.bg-qb {
	background: rgb(57,163,143);
	background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(57,163,143,0) 80%);
}


/*- QB Series -*/

.bg-qb-c {
	background: rgb(57,163,143);
	padding: 0;
}

.svg-icon.qb-icon {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 0;
}

.svg-icon.qb-icon.ajuste {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
}

.svg-icon.qb-icon.ajuste3 {
    width: 90%;
    height: 90%;
    padding: 5px;
    margin-top: 3px;
    margin-left: 3px;
}

.svg-icon.qb-icon.ajuste4 {
    width: 80%;
    height: 80%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 7px;
}

.svg-icon.qb-icon.ajuste5 {
    width: 85%;
    height: 85%;
    padding: 5px;
    margin-top: 4px;
    margin-left: 5px;
}

.qb-icon path, .qb-icon rect, .qb-icon circle, .qb-icon polygon {
	fill: #fff;
 }

  .bg-qb-icon {
	background: rgb(57,163,143);
	background: -moz-linear-gradient(45deg, rgba(11,97,80,1) 0%, rgba(85,176,159,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(11,97,80,1) 0%, rgba(85,176,159,1) 100%);
	background: linear-gradient(45deg, rgba(11,97,80,1) 0%, rgba(85,176,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b6150",endColorstr="#55b09f",GradientType=1);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-radius: 50% 50%;
  }

.txt-qb {
	color:#39a38f;
}

/*- Familia producto section -*/

  
#QB5, #QB3, #QB2  {
	scroll-margin: 80px 0;
}

.bg-qb-c {
	background: rgb(57,163,143);
	transition: all 0.3s ease-in-out;
}

.second-nav-scroll.bg-qb-c {
	background: rgba(0,0,0,1);
	padding: 0;
}

.second-nav-scroll.bg-qb-c.navbar-expand-sm .navbar-nav .nav-link.link-negro {
    color: #fff;
	font-weight: normal;

}

.second-nav-scroll.bg-qb-c .link-negro .dot {
	background-color: #fff;
  }
  
#familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    color: #fff;
    transition: 0.3s all ease-in-out;
    background-color: #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 4px solid rgb(57,163,143) !important;

}

#familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
  color: #fff;
  transition: 0.3s all ease-in-out;
  background-color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 4px solid rgb(57,163,143) !important;

}


#productos.relacionados .card-block {
    margin-bottom: 160px;
}


/*-- NAV Series --*/


.series.f-QB .series-nav .nav-link:hover, .series.f-QB .series-nav .nav-link:focus, .series.f-QB .series-nav .nav-link:active {
    color: rgb(57,163,143));
    border-top: 4px solid transparent;
    border-bottom: 4px solid rgb(57,163,143);
	transition: all 0.3s ease-in-out;
	outline: none;
}

.activado .nav-link {
    color: rgb(57,163,143) !important;
    border-top: 0;
    border-bottom: 4px solid rgb(57,163,143) !important;
	transition: all 0.3s ease-in-out;
	background: #000;
}

.activado .nav-link .dot {
    background: rgb(57,163,143) !important;
}

#familia-producto.series.f-QB .info-prod h5 {
	font-weight: 600;
	border-bottom: 8px solid rgb(57,163,143);

}

#accesorios .accesorio-uno .texto-acc{
	padding: 20px 0 0;
}

/*-- Certificaciones --*/

#familia-producto.series.f-QB .info-prod .mas-cert {
    font-weight: 600;
    color:rgb(57,163,143);
    margin: 60px 0 10px;
	border: 0;
}



/*-- Info destacada --*/


.series .info-destacada.dest-qb {
	background: rgb(57,163,143);
	background: -moz-linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(17,17,17,1) 50%);
	background: -webkit-linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(17,17,17,1) 50%);
	background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(17,17,17,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#39a38f",endColorstr="#111111",GradientType=1);
    border-top: 1px solid #222;
}

.series .info-destacada .btn-blanco.btn-qb {
	color: #fff;
    background-color: rgb(57,163,143);
    border: 2px solid rgb(57,163,143);
	margin-bottom: 15px;
}
.series .info-destacada .btn-blanco.btn-qb.btn-qb:hover, .series .info-destacada .btn-blanco.btn-qb.btn-qb:active, .btn-qb:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
}


/*--------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ RESPONSIVE ------------------------------------------ */
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {

    #familia-producto.series .info-prod h5 {
        margin-bottom: 20px;

    }
}

@media (max-width: 992px) {
    
    .svg-icon.qb-icon {
        margin-top: 0;
    }

    .svg-icon.qb-icon.ajuste3 {
        margin-top: 2px;
    }

    .svg-icon.qb-icon.ajuste4 {
        margin-left: 5px;
    }
}

@media (max-width: 992px) {

    .svg-icon.qb-icon.ajuste2 {
        width: 80%;
        height: 80%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .svg-icon.qb-icon.ajuste3 {
        width: 85%;
        height: 85%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
}

@media (max-width: 768px) {

    #QB5, #QB3, #QB2  {
        scroll-margin: 100px 0;
    }

    .barra-qb {
        border-bottom: 8px solid rgb(57,163,143);
    }

    .icon-bar.bg-qb-c {
        background-color: rgb(057,163,143) !important;
    }

    .foot .info-destacada {
        vertical-align: middle;
        margin: auto;
    }

    .foot.dest-qb {
        background: rgb(57,163,143);
        background: -moz-linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(0,0,0,1) 50%);
        background: -webkit-linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(0,0,0,1) 50%);
        background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(0,0,0,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0071b8",endColorstr="#000",GradientType=1);
        border-top: 1px solid #000;
    }

    .dest-btn-up.bg-qb {
        background: rgb(57,163,143) !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #000;
        font-weight: 600;
        border-top: 2px solid rgb(57,163,143) !important;
        position: absolute;
        top: -1px;
        width: 100%;
        left: 0;
        box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
    }

    .slide-up .dest-btn-up.bg-qb {
        background: #000 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        border-top: none !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: none;
    }

    .foot .info-destacada .btn-blanco.btn-qb {
        color: #fff;
        background-color: rgb(57,163,143);
        border: 2px solid rgb(57,163,143);
        margin-bottom: 10px;
        padding: 0.5rem;
    }
	
    .foot .info-destacada .btn-blanco.btn-qb.btn-qb:hover, .foot .info-destacada .btn-blanco.btn-qb.btn-qb:active, .btn-qb:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);   
        transition: all 0.3s ease-in-out;
    }

    .menu-second {
        color: rgb(57,163,143);
        float: left;
        width: 100%;
        position: relative;
        margin-left: 30px;
        margin-top: -15px;
        font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
    }

    .icon-bar.bg-qb-c {
        background-color: rgb(057,163,143) !important;
    }
}

@media (max-width: 576px) {

    .dest-btn-up.bg-qb {
        top: -20px;
    }
}

@media (max-width: 376px) {

    .foot {
        bottom: -92%;
    }

    .slide-down {
        bottom: -92% !important;
    }

    .dest-btn-up.bg-qb {
        top: 0px;
    }
    
    .foot.slide-up .info-destacada .img-container {
        top: -18%;
        left: -230%;
    }
    
    .foot .info-destacada .img-container img {
        height: 140%;
    }
}

@media (max-width: 320px) {

    .foot.slide-up .info-destacada .col-12 {
        width: 72% !important;
        left: 25%;
    }

    .foot {
        bottom: -92%;
    }
    
    .slide-up .dest-btn-up {
        padding: 0 20px;
    }
    
    .dest-btn-up, .slide-down .dest-btn-up {
        padding: 15px 0 20px;
    }

    .slide-down {
        bottom: -92% !important;
    }

    .foot.slide-up .info-destacada .img-container {
        top: -2%;
        left: -160%;
    }
    
    .foot .info-destacada .img-container img {
        height: 110%;
    }
}