@charset "utf-8";
/* CSS Document */

.bg-qc {
	background: rgb(0,113,184);
	background: linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 40%);
    border: none !important;
}

.bg-qc-80 {
	background: rgb(0,113,184);
	background: linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 80%);
    border: none !important;
}

.txt-qc {
	color:#0071bc;
}

.fam-QC.bg-qc {
	background: rgb(0,113,184);
	background: linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 40%);
} 


/*- QC Series -*/

.bg-qc-c {
	background: rgb(0,113,184);
	transition: all 0.3s ease-in-out;
}


.qc-icon path, .qc-icon rect, .qc-icon circle, .qc-icon polygon {
	fill: #fff;
 }

  .bg-qc-icon {
	background: rgb(0,113,184);
	background: -moz-linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	background: linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005081",endColorstr="#0071b8",GradientType=1);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-radius: 50% 50%;
  }


.svg-icon.qc-icon {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 0;
}

.svg-icon.qc-icon.ajuste {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
}

.svg-icon.qc-icon.ajuste2 {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
	margin-left: 7px;
}

.svg-icon.qc-icon.ajuste3 {
	width: 85%;
	height: 85%;
	padding: 5px;
	margin-top: 8px;
	margin-left: 8px;
}

.svg-icon.qc-icon.ajuste4 {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
	margin-left: 6px;
}

.svg-icon.qc-icon.ajuste5 {
	width: 85%;
    height: 85%;
    padding: 5px;
    margin-top: 3px;
}

.svg-icon.qc-icon.ajuste6 {
    width: 85%;
    height: 85%;
    padding: 5px;
    margin-top: 5px;
}

.svg-icon.qc-icon.ajuste7 {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 11px;
}

.bg-qc .btn-default {
	color: #fff;
}



/*- Familia producto section -*/

  
#QC5, #QC3, #QC2  {
	scroll-margin: 80px 0;
}

.second-nav-scroll.bg-qc-c {
	background: rgba(0,113,184, 0.95);
	padding: 0;
}

.second-nav-scroll.bg-qc-c.navbar-expand-sm .navbar-nav .nav-link.link-negro {
    color: #fff;
	font-weight: normal;

}

.navbar-expand-sm .navbar-nav .nav-link.link-blanco {
    color: #fff;
    font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
    letter-spacing: 1px;
    margin: 8px 20%;
    padding: 5px 25px;
    border-radius: 50px;
}
  
#familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    color: rgb(0,113,184);
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    margin: 8px 20%;
    padding: 5px 25px;

}

#familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
  color: rgb(0,113,184);
  background-color: #fff;
  border-radius: 50px;
  transition: 0.3s all ease-in-out;
  padding: 5px 25px;
  margin: 8px 18%;

}

.second-nav-scroll.bg-qc-c .link-negro .dot {
	background-color: #fff;
}

#familia-producto nav a.link-negro:hover .dot, #familia-producto nav a.link-blanco:hover .dot {
    background-color: rgb(0,113,184);
    transition: 0.3s all ease-in-out;
}


#productos.relacionados .card-block {
    margin-bottom: 160px;
}


/*-- NAV Series --*/

.series .series-nav {
    top: 50px;
    border-top: 0;
    border-bottom: 0;
    background: rgba(0,113,184, 0.95);
}


.series.f-QC .series-nav .nav-link:hover, .series.f-QC .series-nav .nav-link:focus, .series.f-QC .series-nav .nav-link:active {
    color: #fff;
	transition: all 0.3s ease-in-out;
	outline: none;
    padding: 5px 25px;
}

.activado .nav-link {
    color: rgb(0,113,184) !important;
	transition: all 0.3s ease-in-out;
	background: #fff;
    border-radius: 50px;
    padding: 5px 25px;
}

.activado .nav-link .dot {
    background: rgb(0,113,184) !important;
}



#familia-producto.series.f-QC .info-prod h5 {
	font-weight: 600;
	border-bottom: 8px solid rgb(0,113,184);

}

#familia-producto.series .info-prod .table thead th {
    vertical-align: top;
    border-bottom: 2px solid rgb(0,113,184);
}

#accesorios .accesorio-uno .texto-acc{
	padding: 20px 0 0;
}

.video-producto {
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,113,184,0.5);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,113,184,0.5);
    box-shadow: 0px 0px 30px 1px rgba(0,113,184,0.5);
}

/*--- Accesorios --*/

#accesorios .accesorio-uno .texto-acc h6 {
    color:rgb(0,113,184);
}

/*-- Certificaciones --*/

#familia-producto.series.f-QC .info-prod .mas-cert {
    font-weight: 600;
    color:rgb(0,113,184);
    margin: 60px 0 10px;
	border: 0;
}



/*-- Info destacada --*/


.series .info-destacada.dest-qc {
	background: rgb(0,113,184);
	background: -moz-linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 70%);
	background: -webkit-linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 70%);
	background: linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0071b8",endColorstr="#111111",GradientType=1);
    border-top: none;
}

.series .info-destacada .btn-blanco.btn-qc {
	color: #fff;
    background-color: rgb(0,113,184);
    border: 2px solid rgb(0,113,184);
	margin-bottom: 15px;
}
.series .info-destacada .btn-blanco.btn-qc.btn-qc:hover, .series .info-destacada .btn-blanco.btn-qc.btn-qc:active, .btn-qc:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
}

/*--- COMPARATIVA ---*/


.fam-QC .titulo-seccion.comparativa h3 {
	color: rgb(0,113,184);
}

.tr-border-qc {
    border-top: 4px solid rgb(0,113,184);
}

.hor-grad-qc {
    background: rgb(0,113,184);
    background: -moz-linear-gradient(90deg, rgba(0,113,184,0.6) 0%, rgba(18,18,18,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,113,184,0.6) 0%, rgba(18,18,18,1) 100%);
    background: linear-gradient(90deg, rgba(0,113,184,0.6) 0%, rgba(18,18,18,1) 100%);
}

#familia-producto.series .info-prod .table td.hor-grad-qc {
    padding: 0;
    vertical-align: middle;
    border-top: none;
    text-align: left;
    position: relative;
    width: 70px;
}

.hor-grad-qc img {
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn-tooltip:hover {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	color: rgb(0,113,184);
}

.tooltip .tooltip-inner {
    background: rgb(0,113,184);
    color: #fff;
  }

.notas-comp h6 {
	color: rgb(0,113,184);
}

.notas-comp span {
    font-weight: 600;
}

.comp thead tr:nth-child(1) th{ 
    background: rgb(0,113,184);
    background: -moz-linear-gradient(0deg, rgba(1,54,87,1) 0%, rgba(18,18,18,1) 10%);
    background: -webkit-linear-gradient(0deg, rgba(1,54,87,1) 0%, rgba(18,18,18,1) 10%);
    background: linear-gradient(0deg, rgba(1,54,87,1) 0%, rgba(18,18,18,1) 10%);
    position: sticky;
    top: 50px;
    z-index: 10;
  }

  .table-hover tbody tr:hover {
    color: rgb(0,113,184);
    background-color: rgba(1,54,87,0.2)!important;
    transition: 0.2s all ease-in-out;
}

/*--- Soporte ---*/

svg.qc-icon-sop {
    width: auto;
    height: 40px;
    margin: -5px;
    vertical-align: baseline;

}

.qc-icon-sop path, .qc-icon-sop rect, .qc-icon-sop circle, .qc-icon-sop polygon {
	fill: rgb(0,113,184);
 }

 .soporte-f table a:hover svg {
     fill: rgb(0,113,184);
     transition: 0.2s all ease-in-out;
 }

 .txt-video-sop p {
    color: rgb(0,113,184);
}

.videos-soporte .btn-borde:hover, .videos-soporte .btn-borde:active, .videos-soporte .btn-borde:focus {
	color: #fff;
	background-color: rgb(0,113,184);
	border: 2px solid rgb(0,113,184);
	transition: all 0.3s ease-in-out;
}


.videos-soporte .btn-borde.active {
	color: #fff;
	background-color: rgb(0,113,184);
	border: 2px solid rgb(0,113,184);
	transition: all 0.3s ease-in-out;
}




/*--------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ RESPONSIVE ------------------------------------------ */
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {

    #familia-producto.series .info-prod h5 {
        margin-bottom: 20px;

    }

    .navbar-expand-sm .navbar-nav .nav-link.link-blanco {
        margin: 8px 10%;
    }
    
    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        margin: 8px 10%;

    }

    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    margin: 8px 8%;

    }
}


@media (max-width: 992px) {

    .svg-icon.qc-icon.ajuste2 {
        width: 80%;
        height: 80%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .svg-icon.qc-icon.ajuste3 {
        width: 85%;
        height: 85%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
}

@media (max-width: 768px) {

    #QC5, #QC3, #QC2  {
        scroll-margin: 100px 0;
    }

    .barra-qc {
        border-bottom: 8px solid rgb(0,113,184);
    }

    .icon-bar.bg-qc-c {
        background-color: rgb(0,113,184) !important;
    }

    .foot .info-destacada {
        vertical-align: middle;
        margin: auto;
    }

    .foot.dest-qc {
        background: rgb(0,113,184);
        background: -moz-linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 50%);
        background: -webkit-linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 50%);
        background: linear-gradient(0deg, rgba(0,113,184,1) 0%, rgba(18,18,18,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0071b8",endColorstr="#000",GradientType=1);
        border-top: none;
    }

    .dest-btn-up.bg-qc {
        background: rgb(0,113,184) !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #000;
        font-weight: 600;
        border-top: 2px solid rgb(0,113,184) !important;
        position: absolute;
        top: -1px;
        width: 100%;
        left: 0;
        box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
    }

    .slide-up .dest-btn-up.bg-qc {
        background: #121212 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        border-top: none !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: none;
    }

    .foot .info-destacada .btn-blanco.btn-qc {
        color: #fff;
        background-color: rgb(0,113,184);
        border: 2px solid rgb(0,113,184);
        margin-bottom: 10px;
        padding: 0.5rem;
    }
	
    .foot .info-destacada .btn-blanco.btn-qc.btn-qc:hover, .foot .info-destacada .btn-blanco.btn-qc.btn-qc:active, .btn-qc:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);   
        transition: all 0.3s ease-in-out;
    }

    .menu-second {
        color: #fff;
        float: left;
        width: 100%;
        position: relative;
        margin-left: 30px;
        margin-top: -15px;
        font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .icon-bar.bg-qc-c {
        background-color: #fff !important;
    }
}

@media (max-width: 576px) {

    .txt-qc, .fam-QC .titulo-seccion.comparativa h3, .notas-comp h6 {
        color: #289ee8;
    }

    .dest-btn-up.bg-qc {
        top: -20px;
    }

    .navbar-expand-sm .navbar-nav .nav-link.link-blanco {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;
    }
    
    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;

    }

    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;

    }
}

@media (max-width: 376px) {

    .foot {
        bottom: -92%;
    }

    .slide-down {
        bottom: -92% !important;
    }

    .dest-btn-up.bg-qc {
        top: 0px;
    }
    
    .foot.slide-up .info-destacada .img-container {
        top: -18%;
        left: -230%;
    }
    
    .foot .info-destacada .img-container img {
        height: 140%;
    }
}

@media (max-width: 320px) {

    .foot.slide-up .info-destacada .col-12 {
        width: 72% !important;
        left: 25%;
    }

    .foot {
        bottom: -92%;
    }
    
    .slide-up .dest-btn-up {
        padding: 0 20px;
    }
    
    .dest-btn-up, .slide-down .dest-btn-up {
        padding: 15px 0 20px;
    }

    .slide-down {
        bottom: -92% !important;
    }

    .foot.slide-up .info-destacada .img-container {
        top: -2%;
        left: -160%;
    }
    
    .foot .info-destacada .img-container img {
        height: 110%;
    }

    .navbar-expand-sm .navbar-nav .nav-link.link-blanco {
        margin: 8px;
        padding: 5px 0;
    }
    
    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        margin: 8px;
        padding: 5px 0;

    }

    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    margin: 8px 6px;
    padding: 5px 0;

    }
}