@charset "utf-8";
/* CSS Document */

.bg-qc {
	background: rgb(0,80,133);
	background: linear-gradient(0deg, rgba(0,80,133,1) 0%, rgba(0,80,133,0) 40%);
    border-top: 1px solid #000;
}

.txt-qc {
	color:#0071bc;
}

.fam-QC.bg-qc {
	background: rgb(0,80,133);
	background: linear-gradient(0deg, rgba(0,80,133,1) 0%, rgba(0,80,133,0) 40%);
} 


/*- QC Series -*/

.bg-qc-c {
	background: rgb(0,80,133);
	padding: 0;
}


.qc-icon path, .qc-icon rect, .qc-icon circle, .qc-icon polygon {
	fill: #fff;
 }

  .bg-qc-icon {
	background: rgb(0,113,184);
	background: -moz-linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	background: linear-gradient(45deg, rgba(0,80,129,1) 0%, rgba(0,113,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005081",endColorstr="#0071b8",GradientType=1);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-radius: 50% 50%;
  }


.svg-icon.qc-icon {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 0;
}

.svg-icon.qc-icon.ajuste {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
}

.svg-icon.qc-icon.ajuste2 {
	width: 80%;
	height: 80%;
	padding: 5px;
	margin-top: 6px;
	margin-left: 7px;
}

.svg-icon.qc-icon.ajuste3 {
	width: 85%;
	height: 85%;
	padding: 5px;
	margin-top: 8px;
	margin-left: 8px;
}

.bg-qc .btn-default {
	color: #fff;
}


/*--------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ RESPONSIVE ------------------------------------------ */
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 992px) {

    .svg-icon.qc-icon.ajuste2 {
        width: 80%;
        height: 80%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .svg-icon.qc-icon.ajuste3 {
        width: 85%;
        height: 85%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
}

@media (max-width: 768px) {
    
    .barra-qc {
        border-bottom: 8px solid rgb(0,113,184);
    }

}

