@charset "utf-8";
/* CSS Document */


.bg-qh {
	background: rgb(139,28,33);
	background: -moz-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	background: -webkit-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	background: linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b1c21",endColorstr="#000000",GradientType=1);
    border: none !important;
}

.txt-qh {
	color:#ed1c24;
}

.carousel-item, .carousel-item .bg-qh {
	height: 100%;
	vertical-align: middle;
}

.series7 .fam-QH.bg-qh, .bg-qh-80 {
	background: rgb(139,28,33);
	background: -moz-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	background: -webkit-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	background: linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b1c21",endColorstr="#000000",GradientType=1);
    border: none !important;
}

#QH7, #QH5, #QH5U, #QH2  {
	scroll-margin: 80px 0;
}



/*- QH Series -*/

.bg-qh-c {
	background: rgb(139,28,33);
	transition: all 0.3s ease-in-out;
}

/*--- NAV secondary ---*/

.series .series-nav {
    top: 50px;
    border-top: 0;
    border-bottom: 0;
    background: rgba(139,28,33, 0.95);
}


.series.f-QH .series-nav .nav-link:hover, .series.f-QH .series-nav .nav-link:focus, .series.f-QH .series-nav .nav-link:active {
    background: #fff;
	transition: all 0.3s ease-in-out;
	outline: none;
    padding: 5px 15px;
    color: rgb(139,28,33);
    border-radius: 50px;
}


.navbar-expand-sm .navbar-nav .nav-link.link-blanco {
    display: inline-block;
    color: #fff;
    font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin: 8px auto;
    border-radius: 50px;
}
  
#familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    color: rgb(139,28,33);
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    padding: 5px 15px;

}


.activado .nav-link {
    color: rgb(139,28,33) !important;
	transition: all 0.3s ease-in-out;
	background: #fff;
    border-radius: 50px;
    padding: 5px 15px;
}

.activado .nav-link .dot {
    background: rgb(139,28,33) !important;
}

#familia-producto nav a.link-negro:hover .dot, #familia-producto nav a.link-blanco:hover .dot {
    background-color: rgb(139,28,33);
    transition: 0.3s all ease-in-out;
}

.second-nav-scroll.bg-qh-c {
	background: rgba(139,28,33, 0.95);
    padding: 0;
}

.series .series-nav .dropdown-menu {
    background-color: rgba(139,28,33, 0.95);
}

.series .series-nav .dropdown-toggle:hover {
    color: rgb(209,0,0);
    transition: 0.3s all ease-in-out;
}

.series .series-nav .dropdown-menu .dropdown-item {
    color: #fff;
}

.series .series-nav .dropdown-menu .dropdown-item:hover {
    color: ed1c24;
    background: #202020;
}

.series .series-nav .dropdown-menu .dropdown-item:hover .dot {
    background: #fff;
}

.series .series-nav .dropdown-menu .dropdown-item .dot {
    background: #fff;
}



#familia-producto.series.f-QH .info-prod h5, #soporte-producto.series.f-QH .info-prod h5 {
    font-weight: 600;
    border-bottom: 8px solid rgb(209,0,0);
}

.svg-icon.qh-icon {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 0;
}

.svg-icon.qh-icon.ajuste {
	width: 85%;
	height: 85%;
	padding: 5px;
}

.svg-icon.qh-icon.ajuste2 {
	width: 80%;
	height: 80%;
}

.svg-icon.qh-icon.ajuste3 {
    width: 90%;
    height: 90%;
    padding: 5px;
    margin-top: 5px;
}

.svg-icon.qh-icon.ajuste4 {
    width: 80%;
    height: 80%;
    padding: 5px;
    margin-left: -3px;
}

.svg-icon.qh-icon.ajuste5 {
    width: 85%;
    height: 85%;
    padding: 5px;
    margin-top: 4px;
    margin-left: 0px;
}

.svg-icon.qh-icon.ajuste6 {
	width: 96%;
	height: 96%;
	padding: 5px;
	margin-top: 4px;
}

.svg-icon.qh-icon.ajuste7 {
	width: 97%;
	height: 97%;
	padding: 5px;
	margin-top: 2px;
    margin-left: 1px;
}

.qh-icon path, .qh-icon rect, .qh-icon circle, .qh-icon polygon {
	fill: #fff;
 }

.bg-qh-icon {
	background: rgb(209,0,0);
	background: -moz-linear-gradient(45deg, rgba(139,28,33,1) 0%, rgba(237,28,36,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(139,28,33,1) 0%, rgba(237,28,36,1) 100%);
	background: linear-gradient(45deg, rgba(139,28,33,1) 0%, rgba(237,28,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d10000",endColorstr="#ed1c24",GradientType=1);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-radius: 50% 50%;
}

.f-QH .btn-default {
	  color: #fff;
}


#familia-producto.series .info-prod .table thead th, #soporte-producto.series .info-prod .table thead th {
    vertical-align: top;
    border-bottom: 2px solid rgb(100, 20, 24);
}


.video-producto {
    -webkit-box-shadow: 0px 0px 30px 1px rgba(139,28,33,0.5);
    -moz-box-shadow: 0px 0px 30px 1px rgba(139,28,33,0.5);
    box-shadow: 0px 0px 30px 1px rgba(139,28,33,0.5);
}

/*--- Accesorios --*/

#accesorios .accesorio-uno .texto-acc h6 {
    color:rgb(209,0,0);
}

/*-- Certificaciones --*/

#familia-producto.series.f-QH .info-prod .mas-cert {
    font-weight: 600;
    color:rgb(209,0,0);
    margin: 60px 0 10px;
	border: 0;
}



/*-- Info destacada --*/


.series .info-destacada.dest-qh {
	background: rgb(139,28,33);
	background: -moz-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 70%);
	background: -webkit-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 70%);
	background: linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 70%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b1c21",endColorstr="#000000",GradientType=1);
    
}

.series .info-destacada .btn-blanco.btn-qh {
	color: #fff;
    background-color: rgb(139,28,33);
    border: 2px solid rgb(139,28,33);
	margin-bottom: 15px;
}

.series .info-destacada .btn-blanco.btn-qs.btn-qh:hover, .series .info-destacada .btn-blanco.btn-qs.btn-qh:active, .btn-qh:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
}

/*--- COMPARATIVA ---*/


.fam-QH .titulo-seccion.comparativa h3 {
	color: rgb(209,0,0);
}

.tr-border-qh {
    border-top: 4px solid rgb(139,28,33);
}

.hor-grad-qh {
    background: rgb(139,28,33);
    background: -moz-linear-gradient(90deg, rgba(139,28,33,0.6) 0%, rgba(18,18,18,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(139,28,33,0.6) 0%, rgba(18,18,18,1) 100%);
    background: linear-gradient(90deg, rgba(139,28,33,0.6) 0%, rgba(18,18,18,1) 100%);
}

#familia-producto.series .info-prod .table td.hor-grad-qh {
    padding: 0;
    vertical-align: middle;
    border-top: none;
    text-align: left;
    position: relative;
    width: 70px;
}

.hor-grad-qh img {
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn-tooltip:hover {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	color: rgb(209,0,0);
}

.tooltip .tooltip-inner {
    background: rgb(209,0,0);
    color: #fff;
  }

  .comp thead tr:nth-child(1) th{ 
    background: rgb(99,0,0);
    background: -moz-linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(18,18,18,1) 10%);
    background: -webkit-linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(18,18,18,1) 10%);
    background: linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(18,18,18,1) 10%);
    position: sticky;
    top: 50px;
    z-index: 10;
  }
  .comp.bg-gris thead tr:nth-child(1) th{ 
    background: rgb(99,0,0);
    background: -moz-linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(17,17,17,1) 10%);
    background: -webkit-linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(17,17,17,1) 10%);
    background: linear-gradient(0deg, rgba(99,0,0,1) 0%, rgba(17,17,17,1) 10%);
    position: sticky;
    top: 50px;
    z-index: 10;
  }

  .table-hover tbody tr:hover {
    color: rgb(209,0,0);
    background-color: rgba(99,0,0,0.2)!important;
    transition: 0.2s all ease-in-out;
}


/*--- Soporte ---*/

svg.qh-icon-sop {
    width: auto;
    height: 40px;
    margin: -5px;
    vertical-align: baseline;

}

.qh-icon-sop path, .qh-icon-sop rect, .qh-icon-sop circle, .qh-icon-sop polygon {
	fill: rgb(209,0,0);
 }

 .soporte-f table a:hover svg {
     fill: rgb(209,0,0);
     transition: 0.2s all ease-in-out;
 }

 .txt-video-sop p {
    color: rgb(209,0,0);
}

.videos-soporte .btn-borde:hover, .videos-soporte .btn-borde:active, .videos-soporte .btn-borde:focus {
	color: #fff;
	background-color: rgb(99,0,0);
	border: 2px solid rgb(99,0,0);
	transition: all 0.3s ease-in-out;
}


.videos-soporte .btn-borde.active {
	color: #fff;
	background-color: rgb(99,0,0);
	border: 2px solid rgb(99,0,0);
	transition: all 0.3s ease-in-out;
}


.breadcrumb a:hover {
	color: rgb(209,0,0);
	transition: 0.3s all ease-in-out;
}


/*--------------------------------------------------------------------------------------------------*/
/* ------------------------------------------ RESPONSIVE ------------------------------------------ */
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 992px) {

    .svg-icon.qh-icon.ajuste2 {
        width: 80%;
        height: 80%;
        padding: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .svg-icon.qh-icon.ajuste3 {
        margin-top: 5px;
        margin-left: 2px;
    }

    .svg-icon.qh-icon.ajuste4 {
        margin-top: 5px;
        margin-left: 4px;
    }
}

@media (max-width: 768px) {
	
    .barra-qh {
        border-bottom: 8px solid rgb(209,0,0);
    }
	
	#QH7, #QH5, #QH5U, #QH2  {
		scroll-margin: 100px 0;
	}
    
    .foot .info-destacada {
        vertical-align: middle;
        margin: auto;
    }

    .foot.dest-qh {
        background: rgb(139,28,33);
        background: -moz-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
        background: -webkit-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
        background: linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b1c21",endColorstr="#000",GradientType=1);
        border-top: none;
    }

    .series7 .foot.dest-qh {
        background: rgb(139,28,33);
        background: -moz-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 80%);
        background: -webkit-linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 80%);
        background: linear-gradient(0deg, rgba(139,28,33,1) 0%, rgba(18,18,18,1) 80%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b1c21",endColorstr="#000",GradientType=1);
        border-top: none;
    }

    .dest-btn-up.bg-qh {
        background: rgb(139,28,33) !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        color: #fff;
        font-weight: 600;
        border-top: 2px solid rgb(139,28,33) !important;
        position: absolute;
        top: -1px;
        width: 100%;
        left: 0;
        box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -3px 14px -1px rgba(0,0,0,0.75);
    }

    .slide-up .dest-btn-up.bg-qh {
        background: rgb(18,18,18) !important;
        background: -moz-linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 50%) !important;
        background: -webkit-linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 50%) !important;
        background: linear-gradient(0deg, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 50%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#121212",GradientType=1) !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #fff;
        border-top: none !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: none;
    }

    .foot .info-destacada .btn-blanco.btn-qh {
        color: #fff;
        background-color: rgb(139,28,33);
        border: 2px solid rgb(139,28,33);
        margin-bottom: 10px;
        padding: 0.5rem;
    }
	
    .foot .info-destacada .btn-blanco.btn-qh.btn-qh:hover, .foot .info-destacada .btn-blanco.btn-qh.btn-qh:active, .btn-qh:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);   
        transition: all 0.3s ease-in-out;
    }

    .menu-second {
        color: #fff;
        float: left;
        width: 100%;
        position: relative;
        margin-left: 30px;
        margin-top: -15px;
        font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .icon-bar.bg-qh-c {
        background-color: #fff; !important;
    }

    .dest-btn-up .st-svg {
        width: 20px;
        height: auto;
        fill: #fff !important;
        margin-top: -5px;
        transition: all 0.3s ease-in-out;
    }

    .navbar-expand-sm .navbar-nav .nav-link.link-blanco {
        padding: 5px 10px;
        margin: 8px 10%;
    }
    
    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        padding: 5px 10px;
        margin: 8px 10%;
    }

    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
    padding: 5px 10px;
    margin: 8px 10%;
    }
}


@media screen and (orientation:landscape) and (max-width: 768px) {
 
    .carousel-item, .carousel-item .bg-qh {
        height: 100%;
        vertical-align: middle;
        min-height: 400px;
    }

}


@media (max-width: 576px) {
    .dest-btn-up.bg-qh {
        top: -20px;
    }

    .navbar-expand-sm .navbar-nav .nav-link.link-blanco {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;
    }
    
    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;
    }

    #familia-producto nav a.link-negro:hover, #familia-producto nav a.link-blanco:hover  {
        padding: 5px;
        margin: 0 4px 4px;
        border-radius: 0 0 25px 25px;
    }
    
    .link-blanco .serie-txt-dot {
        line-height: 0;
    }
}

@media (max-width: 376px) {

    .dest-btn-up.bg-qh {
        top: -20px;
    }
    
    #familia-producto nav .col {
        padding: 0;
        vertical-align: top;
        margin: -8px 0 0;
        top: 0;
    }
    
    .link-blanco .serie-txt-dot {
        line-height: 1;
    }
}

@media (max-width: 320px) {

    .link-blanco .serie-txt-dot {
        line-height: 1.3;
    }

    .foot {
        bottom: -94%;
    }
    
    .dest-btn-up, .slide-down .dest-btn-up {
        padding: 10px 0;
    }

    .slide-down {
        bottom: -94% !important;
    }
}

