
/*--- NAV ---*/

@media (min-width: 992px) {
	.animate {
	  animation-duration: 0.3s;
	  -webkit-animation-duration: 0.3s;
	  animation-fill-mode: both;
	  -webkit-animation-fill-mode: both;
	}
	
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  }

.pc {
    display: block;
}

.cel {
    display: none !important;
}


@media (min-width: 1440px) {

    /*--- Familia Productos ---*/

    .series7 .serie .img-series img {
        max-height: 360px;
    }

    /*--- QUOKKA ---*/

    .quokka .col-6, .img-quokka{
        min-height: 330px;
    }

    /*--- Footer ---*/

    .datos-productos .prod-logo {
        width: 48px;
    }

    /*--- Soporte ---*/

    #soporte .bg-licencias .container {
        width: 80%;
        margin-left: 17%;
    }

    #soporte .bg-registro .container {
        width: 80%;
        margin-right: 17%;
    }
}