
/*--- NAV ---*/

@media (min-width: 992px) {
	.animate {
	  animation-duration: 0.3s;
	  -webkit-animation-duration: 0.3s;
	  animation-fill-mode: both;
	  -webkit-animation-fill-mode: both;
	}
	
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
  }


  @media (min-width: 1920px) {

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 50px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 35px;
    }

    h6 {
        font-size: 30px;
    }

    .lema {
        margin-top: 100px;
    }

    .carousel-inner img {
        max-height: 600px;
    }

    .serie-7 {
        max-width: 700px;
    }

    .img-car, .info-car {
        margin: auto 40px;
    }

    .info-car {
        margin: auto 160px auto 40px;
    }

    .info-car h2 {
        font-size: 80px;
    }
    
    .info-car h4 {
        font-size:45px;
    }
    .info-car p {
        font-size: 25px;
    }

   .datos-productos .prod-logo {
    width: 70px;
}

  }


@media (max-width: 1200px) { 

    
    /*--- CAROUSEL ---*/

    .serie-7 {
        max-width: 400px;
        height: auto !important;
    }
    
    .info-car {
        padding-right: 120px;
    }
    
    /*--- QUOKKA ---*/

    .bg-quokka {
        background: linear-gradient(0deg, rgba(0,129,161,0.5) 0%, rgba(0,80,133,0) 70%);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        min-height: 300px;
        width: 100%;
    }

    /*--- FOOTER ---*/
    
    .redes-empresa .col-3 {
        padding: 0 10px !important;
    } 

    .datos-productos .prod-logo {
        display: inline-flex;
        float: left;
        width: 50px;
        margin: 0 10px 50px 0;
        vertical-align: middle;
    }

}

@media (max-width: 992px) { 

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 20px;
    }

    .btn-naranja {
        font-size: 16px;
        padding: 0.5rem 2.5rem;
    }

    .btn-blanco {
        font-size: 16px;
        padding: 0.5rem 2.5rem;
    }


    /*--- NAV ---*/

    .navbar {
        padding: 10px 20px;
    }

    button:focus {
        outline: none;
    }


    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
        border-bottom: none;
        border-top: none;
    }

    .navbar-collapse {
        position: fixed;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        height: 100%;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    .navbar-collapse.show {
        height: 100%;
        left: 0;
        transition: left 0.3s ease-in-out;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);

    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 0.3s ease-in;
        background-color: rgba(0, 0, 0, 1);
    }

    .navbar-nav .dropdown-menu {
        border-radius: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.05);
    }

    .dropdown, .dropleft, .dropright, .dropup {
        padding: 0;
    }

    .btn-lang {
        text-align: center!important;
        border-top: 2px solid #222222;
    }

    .btn-lang .dropdown-menu .dropdown-item {
        padding: 0.5rem;
    }

    .btn-lang .dropdown-menu.show {
        width: 100%;
        text-align: center;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.05);
        transition: all 0.3s ease-in-out;
    }

    .btn-nav {
        width: 100%;
        border-top: 1px solid #222222;
        padding: 20px 0 !important;
    }

    .lang-ico {
        margin-left: -20px;
    }

    /*-- LEMA --*/

    .lema {
        margin-top: 0;
    }

    .lema h5  {
        font-size: 18px;
    }

    /*--- CARUSEL ---*/

    .carousel-inner img {
        max-height: 260px;
    }

    .serie-7 {
        max-width: 260px;
    }

    .info-car {
        padding-right: 50px;
    }
    
    .info-car .car-ico {
        width: 50px;
        height: 50px;
        display: inline-flex;
        margin: 12px 10px 20px 0;
        vertical-align: middle;
        border-radius: 8px;
        box-shadow: 0px -10px 30px #2c2c2c;
    }

    .info-car h2 {
        font-size: 40px;
    }

    .info-car h4 {
        font-size: 24px;
    }

    .info-car p {
        font-size: 14px;
    }


    /*--- QUOKKA ---*/

    .quokka h4 {
        font-size: 20px;
    }
    
    .dmq-quokka {
        height: 16px;
    }

    /*--- FOOTER ---*/

    .redes-empresa {
        padding: 40px 0;
        border-top: 2px solid #222222;
        border-bottom: 2px solid #222222;
    }

    .redes-empresa .col-10 {
        max-width: 100%;
    }

    .redes-empresa .redes-ico {
        width: 46px;
    }
}



@media (max-width: 768px) {

    .destacados-inicio .card-deck {
        display: block;
    }

    .destacados-inicio .card {
        margin-bottom: 15px;
        min-height: 700px;
    }
    
    /*--- QUOKKA ---*/

    .bg-quokka {
        background: linear-gradient(0deg, rgba(0,129,161,0.5) 0%, rgba(0,80,133,0) 70%);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        min-height: 200px;
    }

    .img-quokka {
        background-size: cover;
        background: url(../img/quokka/quokka-index-cel.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        min-height: 500px;
    }

    .quokka.mt-5 {
        margin-top: 0 !important;
    }

    .quokka .col-6 {
        min-height: 500px;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .quokka h4{
       font-size: 28px;
    }
    
    .dmq-quokka {
        height: 20px;
    }

    /*--- FOOTER ---*/

    .datos-empresa .logo {
        margin-bottom: 40px;
    }

    .datos-empresa img {
        margin-bottom: 0;
    }

    .datos-empresa .dato-logo {
        float: left;
        width: 28px;
        margin: 0px auto 4px 0;
        vertical-align: middle;
        height: auto;
        padding: 0 10px 0 0;
    }

    .foot-border {
        border-left: none;
        border-right: none;
        padding: 0;
    }

    .datos-productos {
        margin: 40px 0;
    }

    .datos-productos .naranja {
        padding-left: 15px;
    }

    .datos-productos .prod-logo {
        width: 50px;
        height: auto;
        float: left;
        margin: 0 20px 40px 0;
    }

    .datos-productos .prod-logo img {
        max-width: 50px;
    }

    .datos-productos .prod-txt {
        display: contents;
        float: left;
        width: auto;
    }

    .mas-datos {
        padding: 40px 20px;
        border-top: 2px solid #222222;
    }

    .datos-productos a .cont-dat-prod {
        padding: 0;
    }

    .datos-productos a:hover .cont-dat-prod {
        background-color: none;
    }

    .datos-productos {
        margin: 40px 20px;
    }

    .datos-productos .naranja {
        padding-left: 0;
    }

 }

 @media screen and (orientation:landscape) and (max-width: 768px) {
 
     header#home {
         height: unset !important;
     }
 
     .carousel-item, .carousel-item .bg-qh {
         height: 100%;
         vertical-align: middle;
         min-height: 400px;
     }
 }

@media (max-width: 576px) {

    /*--- HEADER ---*/

    .cel {
        display: block;
    }

    .pc {
        display: none;
    }

    
    /*--- BTN WHATSAPP ---*/

    .feedback {
        background-color : #25d366;
        color: white;
        padding: 10px;
        border-radius: 50px;
        border:  none;
    }
    
    .feedback img{
        width: 35px;
        height: auto;
    }
    
    #mybutton {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 10;

    }

    header#home {
        margin-top: 0;
        height: 100vh;
    }

    .lema {
        padding: 40px 20px 60px;
    }

    .lema .mb-5 {
        margin-bottom: 0!important;
    }
    
    .lema h1 {
        font-size: 30px;
    }
    .lema h5 {
        font-size: 16px;
    }

    /*--- CAROUSEL ---*/

    #carouselInicio {
        height: 95%;
    }

    .carousel-item .row {
        height: 80%;
    }
    
    .img-car, .info-car {
        margin: auto;
        padding: 10px 60px;
        text-align: center !important;
    }
    
    
    .carousel-inner img {
        max-height: 240px;
    }

    .serie-7 {
        max-width: 280px;
        margin-top: 50px !important;
    }

    .info-car h4 {
        font-style: italic;
        margin-bottom: 0;
        font-size: 20px;
    }

    .carousel-indicators {
        bottom: 60px;
    }

    /*--- DESTACADOS ---*/

    .destacados-inicio {
        padding: 0 10px!important;
    }

    .destacados-inicio .card {
        margin-bottom: 15px;
        min-height: 360px;
    }

    .destacados-inicio .card {
        height: 500px;
    }

    /*--- QUOKKA ---*/

    .bg-quokka {
        background: linear-gradient(0deg, rgba(0,129,161,0.5) 0%, rgba(0,80,133,0) 70%);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        min-height: 320px;
        margin-bottom: 40px;
    }

    .img-quokka {
        background-size: cover;
        background: url(../img/quokka/quokka-index-cel.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        min-height: 300px;
    }

    .quokka .card {
        background-color: transparent;
        background-clip: border-box;
        border: none;
        border-radius: 0;
        height: 100%;
    }


    .card-img-overlay .container {
        height: 100%;
    }

    .bg-quokka .container .col-6 {
        max-width: 100%;
        margin-top: 50px;
        min-height: 320px;
    }

    .quokka h4 {
        font-size: 20px;
    }

    .quokka .dmq-quokka {
        height: 16px;
    }

    footer {
        padding: 20px;
    }


}

@media (max-width: 376px) {

    .img-car, .info-car {
        margin: 10px auto;
        padding: 0 60px;
        text-align: center !important;
    }
    
    .carousel-inner img {
        max-height: 200px;
    }

    .serie-7 {
        max-width: 280px;
    }

    .info-car h4 {
        font-size: 18px;
    }

    .info-car p {
        font-size: 12px;
    }

    .destacados-inicio .card {
        height: 430px;
    }
    
    .quokka h4 {
        font-size: 18px;
    }

}

