@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Adobe Clean';
	src: url("../fonts/Adobe_clean.eot");
	src: url("../fonts/Adobe_clean.woff") format("woff"),
		url("../fonts/Adobe_clean") format("opentype");
}

@font-face {
	font-family: 'demeQ';
	src: url("../fonts/demeq.eot");
	src: url("../fonts/demeq.woff") format("woff"),
		url("../fonts/demeq") format("opentype");
}


/*---  Estilos Generales  ---*/

body {
	background: #000;
	font-family: 'Adobe Clean' !important;
	font-weight: 400;
	font-size: 18px;
	color: white;
	user-select: none;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.container {
	max-width: 1366px;
}

.bg-dark {
	background-color: #000 !important;
}

.naranja {
	color: #ef7d2d !important; 
}

.text-black {
	font-weight: 900;

}

h1 {
	font-size: 56px;
	line-height: 1.3;
}

h2 {
	font-size: 46px;
	line-height: 1.3;
}

h3 {
	font-size: 40px;
	line-height: 1.3;
}

h4 {
	font-size: 34px;
	line-height: 1.3;
}

h5 {
	font-size: 28px;
	line-height: 1.3;
}

h6 {
	font-size: 22px;
	line-height: 1.3;
}

p {
	font-size: 18px;
	margin-bottom: 15px;
}

.bg-qh {
	background: rgb(209,0,0);
	background: linear-gradient(0deg, rgba(237,28,36,1) 0%, rgba(237,28,36,0) 70%);
}

.bg-qb {
	background: rgb(57,163,143);
	background: linear-gradient(0deg, rgba(57,163,143,1) 0%, rgba(57,163,143,0) 70%);
}

.bg-qs {
	background: rgb(250,233,41);
	background: linear-gradient(0deg, rgba(250,233,41,1) 0%, rgba(57,163,143,0) 70%);
}

.bg-qc {
	background: rgb(0,80,133);
	background: linear-gradient(0deg, rgba(0,80,133,1) 0%, rgba(0,80,133,0) 70%);
}

.bg-quokka {
	background: rgb(0,129,161);
	background: linear-gradient(0deg, rgba(0,129,161,0.5) 0%, rgba(0,80,133,0) 70%);
}

.txt-qh {
	color:#ed1c24;
}

.txt-qb {
	color:#39a38f;
}

.txt-qs {
	color:#fae929;
}

.txt-qc {
	color:#0071bc;
}

.btn-blanco {
	color: #000;
    background-color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0.8rem 2.5rem 0.6rem;
    transition: all 0.3s ease-in-out;
}
.btn-blanco:hover, .btn-blanco:active, .btn-blanco:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
}

.btn-naranja {
	color: #fff;
    background-color: #ef7d2d;
    font-size: 18px;
    border: 2px solid #ef7d2d;
    border-radius: 50px;
    padding: 0.8rem 2.5rem 0.6rem;
    transition: all 0.3s ease-in-out;
}
.btn-naranja:hover, .btn-naranja:active, .btn-naranja:focus {
	color: #fff;
	background-color: #d65a00;
	border: 2px solid #d65a00;
	transition: all 0.3s ease-in-out;
}

.btn-borde {
	color: #fff;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #efff;
    border-radius: 50px;
    padding: 0.8rem 2.5rem 0.6rem;
    transition: all 0.3s ease-in-out;
}
.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}


header{
	display:flex;
	 flex-direction:column;
     flex-wrap: nowrap;
	position:relative;
	align-content:stretch;
	height:100vh;
	margin-top: -50px;
   }

/*---  NAV  ---*/

.navbar {
	padding: 0;
}

.navbar-brand {
	width: 70px;
	height:auto;
	vertical-align: top;
	padding-top: 0;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
	color: #fff;
	border-bottom: 4px solid #000;
	border-top: 4px solid #000;
	transition: all 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(239,125,45,1);
	border-bottom: 4px solid rgba(239,125,45,1);
	border-top: 4px solid #000;
	transition: all 0.3s ease-in-out;
}

.navbar .dropdown-toggle::after {
    display: none;
}

 .dropdown-menu {
    color: #fff;
    background-color: #222222;
	border: none;
	left: unset;
	right: 0;
	transition: all 0.3s ease-in-out;
}

.navbar-nav .dropdown-menu {
    color: #fff;
    background-color: #222222;
	border: none;
	right: unset;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
	transition: all 0.3s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
    color: #ef7d2d;
}

.btn-nav {
	background-color: none;
	border: none;
	color: #fff;
}


.btn-nav:hover {
	background-color: none;
	border: none;
	color: #fff;
}

.btn:focus {
	outline: 0;
    box-shadow: none;
}

.lang-ico {
	width: 20px;
	height: auto;
	display: inline-flex;
	padding-right: 5px;
}
  
  @keyframes slideIn {
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
	100% {
	  transform:translateY(0rem);
	  opacity: 1;
	}
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes slideIn {
	0% {
	  -webkit-transform: transform;
	  -webkit-opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
	  -webkit-opacity: 1;
	}
	0% {
	  -webkit-transform: translateY(1rem);
	  -webkit-opacity: 0;
	}
  }
  
  .slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
  }

  /*--- LEMA  ---*/

.lema {
	margin-top: 50px;
}

  /*---  CAROUSEL  ---*/

#carouselInicio {
	height: 100%;
	margin: auto;
}
.carousel-index {
	padding: 0 !important;
	height: 100%;
	margin: auto;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
	border-radius: 20px !important;
	background-clip: unset !important;
	border-top: 0;
	border-bottom: 0;
	transition: all 0.3s ease-in;
}

.carousel-indicators .active {
    opacity: 1;
    width: 18px;
	transition: all 0.3s ease-in;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner img {
	height: 100%;
	max-height: 460px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	vertical-align: middle;
}

.serie-7 {
	max-width: 500px;
	height: auto !important;
}

.carousel-item, .carousel-item .bg-qh {
	height: 100%;
	vertical-align: middle;
}

.carousel-item .row {
	height: 90%;
}

.img-car, .info-car {
	margin: auto 20px;
	
}

.info-car {
	vertical-align: middle;
}

.info-car .car-ico {
	width: 80px;
	height: 80px;
	display: inline-flex;
	margin: 12px 10px 20px 0;
	vertical-align: middle;
	border-radius: 20px;
	box-shadow: 0px -10px 30px #2c2c2c;
}

.info-car h2 {
	display: inline-flex;
	font-family: 'demeQ';
	font-size: 3.5rem;
	vertical-align: middle;
	font-weight: 600;
	margin: auto;
}

.info-car h4 {
	font-style: italic;
	margin-bottom: 20px;
}

.info-car p {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}


/*--- DESTACADOS INICIO ---*/

.destacados-inicio .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #222222;
    background-clip: border-box;
    border: 0;
	border-radius: 0;
}

.destacados-inicio .card-text {
	font-weight: bold;
}


.destacados-inicio .card-img {
	padding: 20px;
	margin-bottom: 40px;
}

.destacados-inicio .bg-img .card-img {
	vertical-align: bottom;
    margin: auto auto 0;
    padding: 0;
}

.destacados-inicio .card-img-overlay .btn {
    position: absolute;
    bottom: 20px;
}


/*--- QUOKKA ---*/
.quokka .card {
    background-color:transparent;
    background-clip: border-box;
    border: none;
    border-radius:0;
}

.quokka h4{
    margin-bottom:20px;
}

.dmq-quokka {
	height: 25px;
	display: inline-flex;
	margin-top: -5px;
}


/*--- FOOTER ---*/

.datos-empresa {
	margin-bottom: 40px;
}

.datos-empresa img {
	width: 100%;
	max-width: 200px;
	margin-bottom: 20px;
}

.datos-empresa .dato-logo{
	display: inline-flex;
	float: left;
	width: 15px;
	margin: 5px 10px 0 0;
}

.social {
	fill: #fff;
}

.redes-ico:hover .social {
	fill: #ef7d2d;
	transition: all 0.3s ease-in-out;
}

.foot-border {
	border-left: 2px solid #222222;
	border-right: 2px solid #222222;
	padding: 0 20px;
}

.datos-productos .naranja {
	padding-left: 34px;
}

.datos-productos a .cont-dat-prod {
	background-color: transparent;
	color: #fff;
	padding: 20px;
	transition: all 0.3s ease-in-out;
}

.datos-productos a:hover .cont-dat-prod {
	background-color: #222222;
	color: #fff;
	transition: all 0.3s ease-in-out;
	text-decoration: none !important;
	outline: none;
}

.datos-productos a:hover > .cont-dat-prod > .prod-txt > h6{
	color: #fff;
	text-decoration: none !important;
	outline: none;
}

.datos-productos .prod-logo{
	display: inline-flex;
	float: left;
	width: 60px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.prod-txt {
	vertical-align: middle;
}

.prod-txt h6 {
	font-family: 'demeQ';
	margin: 0;
	font-weight: 600;
}
.prod-txt p {
	margin-bottom: 4px;
}

.mas-datos {
	padding: 0 0 0 30px;
}

.mas-datos a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.mas-datos a:hover {
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}

.mas-datos .naranja a {
	color: #ef7d2d;
	transition: all 0.3s ease-in-out;
}

.mas-datos a:hover .naranja {
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}
