@charset "utf-8";
/* CSS Document */

/*---  Estilos Generales  ---*/

html {
	scroll-behavior: smooth;
  }

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: #121212;
	font-family: 'Adobe Clean', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	user-select: none;
}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000
	url('../img/preloader.gif')
	 no-repeat center center;	
	z-index: 99999;
}


.demeq  {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
/* .container {
	max-width: 1280px;
} */

.bg-dark {
	background-color: #121212 !important;
}

.bg-naranja {
	background-color: #ef7d2d !important;
}

.naranja {
	color: #ef7d2d !important; 
}

.text-black {
	font-weight: 900;

}

h1 {
	font-size: 56px;
	line-height: 1.3;
}

h2 {
	font-size: 46px;
	line-height: 1.3;
}

h3 {
	font-size: 40px;
	line-height: 1.3;
}

h4 {
	font-size: 34px;
	line-height: 1.3;
}

h5 {
	font-size: 28px;
	line-height: 1.3;
}

h6 {
	font-size: 22px;
	line-height: 1.3;
}

p {
	font-size: 18px;
	margin-bottom: 15px;
}

.italic {
	font-style: italic;
}

.pc {
	display: block;
}

.cel {
	display: none;
}

.product-pc {
	display: block;
}

.product-mobile {
	display: none;
}

.bg-gris {
	background:rgba(32,32,32,0.3);
}

.txt-negro {
	color: #000 !important;
}

.btn-blanco {
	color: #000;
    background-color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0.4rem 1.5rem 0.2em;
    transition: all 0.3s ease-in-out;
}
.btn-blanco:hover, .btn-blanco:active, .btn-blanco:focus {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(5px);
}

.btn-negro {
	color: #fff;
    background-color: #000;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 50px;
    padding: 0.4rem 1.5rem 0.2em;
    transition: all 0.3s ease-in-out;
}
.btn-negro:hover, .btn-negro:active, .btn-negro:focus {
	color: #fff;
    border: 2px solid #fff;
	background-color: rgba(0, 0, 0, 0.3);   
	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(5px);
}

.btn-naranja {
	color: #fff;
    background-color: #ef7d2d;
    font-size: 20px;
    border: 2px solid #ef7d2d;
    border-radius: 50px;
    padding: 0.4rem 1.5rem 0.2em;
    transition: all 0.3s ease-in-out;
}
.btn-naranja:hover, .btn-naranja:active, .btn-naranja:focus {
	color: #fff;
	background-color: #d65a00;
	border: 2px solid #d65a00;
	transition: all 0.3s ease-in-out;
}

.btn-borde {
	color: #fff;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0.4rem 1.5rem 0.2em;
    transition: all 0.3s ease-in-out;
	backdrop-filter: blur(5px);
}
.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}


header#home {
	display:flex;
	 flex-direction:column;
     flex-wrap: nowrap;
	position:relative;
	align-content:stretch;
	height:100vh;
   }

/*--- SCROLL TOP ---*/

#myBtn{
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	outline: none;
}

.myBtn {
	cursor: pointer;
	box-shadow: 0px 1px 0px 0px #1c1c1c;
	background:linear-gradient(to bottom, #333333 5%, #000000 100%);
	background-color:#61615f;
	border-radius:42px;
	border:2px solid #4f4f4f;
	padding:13px 11px;
	text-decoration:none;
	transition: background 00.3s ease-in-out;
	box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}
.myBtn:hover, .myBtn:focus, .myBtn:active {
	background:linear-gradient(to bottom, #000000 5%, #333333 100%);
	background-color:#000000;
	transition: background 0.3s ease-in-out;
	text-decoration:none;
	outline: none;
}

.st-svg {
	width: 30px;
    height: auto;
    fill: #fff !important;
    margin-top: -3px;
}


#myBtn .txt-btn  {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #d65a00;
	margin-top: 2px;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, 
		rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
		rgb(0, 0, 0) -0.416147px 0.909297px 0px, 
		rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
		rgb(0, 0, 0) -0.653644px -0.756802px 0px,
		rgb(0, 0, 0) 0.283662px -0.958924px 0px, 
		rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}


/*--- BTN MAIL ---*/

.mail svg, .mail-scroll svg{
	width: 30px;
	height: auto;
	fill: #fff !important;
}

.mail-btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10;
	transition: bottom 0.3s ease-in-out;

}

.mail-btn-scroll {
	position: fixed;
	bottom: 110px;
	right: 10px;
	z-index: 10;
	transition: bottom 0.3s ease-in-out;

}

.mail {
	box-shadow: 0px 1px 0px 0px #1c1c1c;
	background:linear-gradient(to bottom, #333333 5%, #000000 100%);
	background-color:#61615f;
	border-radius:42px;
	border:2px solid #4f4f4f;
	outline: none;
	color: white;
	cursor: pointer;
	border-radius:42px;
	padding:13px 11px;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
}



.mail:hover, .mail:focus, .mail:active {
	box-shadow: 0px 1px 0px 0px #1c1c1c;
	background:linear-gradient(to bottom, #000000 5%, #333333 100%);
	background-color:#61615f;
	border-radius:42px;
	border:2px solid #4f4f4f;
	outline: none;
	color: white;
	cursor: pointer;
	border-radius:42px;
	padding:13px 11px;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
}

.mail-btn .txt-btn, .mail-btn-scroll .txt-btn  {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #d65a00;
	margin-top: 2px;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, 
		rgb(0, 0, 0) 0.540302px 0.841471px 0px, 
		rgb(0, 0, 0) -0.416147px 0.909297px 0px, 
		rgb(0, 0, 0) -0.989992px 0.14112px 0px, 
		rgb(0, 0, 0) -0.653644px -0.756802px 0px,
		rgb(0, 0, 0) 0.283662px -0.958924px 0px, 
		rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}

/*---  NAV  ---*/

.navbar {
	padding: 0 60px;
}

#global-nav {
	position: fixed;
	top: 0;
	z-index: 9999;
	height: 80px;
	width: 100%;
	color: #fff;
	line-height: 100px;
	  -webkit-transition: height .5s, line-height .5s; /* Safari */
	  transition: height .5s, line-height .5s;
  }

.scrolled-nav {
	height: 50px !important;
	line-height: 50px !important;
	box-shadow: 0 8px 12px rgba(0,0,0,.45)!important;
  }



.shadow {
    box-shadow: none;
}

.counter {
	width: 20px;
	height: 20px;
	background: black;
	color: #fff;
	position: fixed;
	top: 100px;
	right: 0;
  }

.navbar-brand {
	display: inline-block;
	width: 120px;
	height:auto;
	vertical-align: top;
	padding-top: 0;
	-webkit-transition: width .5s; /* Safari */
	transition: width .5s;
}

.scrolled-nav .navbar-brand {
	display: inline-block;
	width: 70px;
	height:auto;
	vertical-align: top;
	padding-top: 0;
	-webkit-transition: width .5s; /* Safari */
	transition: width .5s;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link {
	color: #fff;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	transition: all 0.5s ease-in-out;
}

button.nav-link {
	background-color: transparent;
	outline: none;
	text-align: center;
	border-color: none;
	appearance: unset;
    writing-mode: unset;
    text-rendering: auto;
    color: unset;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    font: unset;
    padding: 8px;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
	line-height: 56px;
	width: 100%;
}

.dropdown-divider {
	border-top: 1px solid #555555;
	margin: 0;
	padding: 0;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-nav:hover .nav-link.active, .navbar-nav:hover .nav-link:hover.active {
	line-height: 56px;
}

.scrolled-nav.navbar-dark .navbar-nav .nav-link:focus, .scrolled-nav.navbar-dark .navbar-nav .nav-link, .scrolled-nav.navbar-dark .navbar-nav .nav-link:focus, .scrolled-nav.navbar-dark .navbar-nav .nav-link:hover, .scrolled-nav.navbar-dark .navbar-nav .nav-link.active, .scrolled-nav.navbar-nav:hover .nav-link.active, .scrolled-nav.navbar-nav:hover .nav-link:hover.active {
	line-height: 27px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(239,125,45,1) !important;
	border-bottom: 4px solid rgba(239,125,45,1);
	border-top: 4px solid transparent;
	transition: all 0.5s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: rgba(239,125,45,1);
	border-bottom: 4px solid rgba(239,125,45,1);
	border-top: 4px solid transparent;
	transition: all 0.5s ease-in-out;
}

.navbar-nav:hover .nav-link.active {
	color: #fff;
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	transition: all 0.5s ease-in-out;
}

.navbar-nav:hover .nav-link:hover.active {
	color: rgba(239,125,45,1);
	border-bottom: 4px solid rgba(239,125,45,1);
	border-top: 4px solid transparent;
	transition: all 0.5s ease-in-out;
}

.navbar .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    color: #fff;
    background-color: rgba(32,32,32,0.9);
	backdrop-filter: blur(5px);
    border: none;
    left: unset;
    right: 0;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    border-radius: 0;
	line-height: 40px;
}

.btn-lang .dropdown-menu {
	top: 90px;
}

.btn-lang .dropdown-menu .dropdown-item:hover, .btn-lang .dropdown-toggle:hover {
	color: #ef7d2d;
}

.scrolled-nav .btn-lang .dropdown-menu {
	top: 50px;
}

.navbar-nav .dropdown-menu {
    color: #fff;
    background-color: rgba(32,32,32,0.9);
	backdrop-filter: blur(5px);
	border: none;
	right: unset;
	left: 0;
	transition: all 0.5s ease-in-out;
	padding: 0;
}

.dropdown-menu .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
	transition: all 0.5s ease-in-out;
}

.dropdown-menu .dropdown-item.drop-fam-cont {
    display: flex;
    width: 100%;
    padding: .5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
	transition: all 0.5s ease-in-out;
	justify-content: left;
	position: relative;
	background-color: transparent;
}

.dropdown-menu .dropdown-item.drop-fam-cont:hover {
    background-color: rgba(55,55,55,0.9);
	backdrop-filter: blur(5px);
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease-in-out;
}
.dropdown-menu .dropdown-item.prods-item:hover {
	color: rgba(239,125,45,1);
}


.dropdown-menu .dropdown-item.drop-fam-cont .drop-fam-ico {
	display: flex;
	width: 0;
	height: 0;
	margin-right: 10px;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	transition: visibility 0s 0.5s, opacity 0.5s, width 0.5s ease-in-out;
    
}

.dropdown-menu .dropdown-item.drop-fam-cont .txt-drop{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dropdown-menu .dropdown-item.drop-fam-cont .drop-fam, .dropdown-menu .dropdown-item.drop-fam-cont .drop-prod {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.dropdown-menu .dropdown-item.drop-fam-cont .drop-fam {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	letter-spacing: 0,5px;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

.dropdown-menu .dropdown-item.drop-fam-cont:hover .drop-fam, .dropdown-menu .dropdown-item.drop-fam-cont:hover .drop-fam-ico {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.dropdown-menu .dropdown-item.drop-fam-cont:hover .drop-fam-ico {
	width: 40px;
	height: 40px;
	transition: width 0.3s ease-in-out;
}

.btn-nav {
	background-color: none;
	border: none;
	color: #fff;
}


.btn-nav:hover {
	background-color: none;
	border: none;
	color: #fff;
}

.btn:focus {
	outline: 0;
    box-shadow: none;
}

.lang-ico {
	width: 20px;
	height: auto;
	display: inline-flex;
	padding-right: 5px;
}
  
  @keyframes slideIn {
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
	100% {
	  transform:translateY(0rem);
	  opacity: 1;
	}
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes slideIn {
	0% {
	  -webkit-transform: transform;
	  -webkit-opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
	  -webkit-opacity: 1;
	}
	0% {
	  -webkit-transform: translateY(1rem);
	  -webkit-opacity: 0;
	}
  }
  
  .slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
  }

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

  /* ANIMATED LEFT ARROW */
  .navbar-toggler.larr {
	border: none;
}

.navbar-toggler.larr:focus {
	outline: none;
}

.navbar-toggler.larr[aria-expanded="true"] .icon-bar:nth-of-type(1) {
	transform: translate3d(0px, 6px, 0) rotate(45deg);
	transform-origin: left top;
	width: 11px;
}

.navbar-toggler.larr[aria-expanded="true"] .icon-bar:nth-of-type(3) {
	transform: translate3d(0px, -6px, 0) rotate(-45deg);
	transform-origin: left bottom;
	width: 11px;
}

.navbar-toggler.larr .icon-bar {
	width: 22px;
	display: block;
	height: 2px;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.navbar-toggler.larr .icon-bar + .icon-bar {
	margin-top: 4px;
}

.navbar-toggler.larr .icon-bar:nth-of-type(1) {
	transform: translate3d(0, 0, 0) rotate(0deg);
	width: 22px;
}

.navbar-toggler.larr .icon-bar:nth-of-type(2) {
	transform: translate3d(0, 0, 0) rotate(0deg);
}

.navbar-toggler.larr .icon-bar:nth-of-type(3) {
	transform: translate3d(0, 0, 0) rotate(0deg);
	width: 22px;
}



  /*--- LEMA  ---*/

.lema {
	margin-top: 50px;
}

  /*---  CAROUSEL  ---*/

#carouselInicio {
	height: 100%;
	margin: auto;
}
.carousel-index {
	padding: 0 !important;
	height: 100%;
	margin: auto;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
	border-radius: 20px !important;
	background-clip: unset !important;
	border-top: 0;
	border-bottom: 0;
	transition: all 0.3s ease-in;
}

.carousel-indicators .active {
    opacity: 1;
    width: 24px;
	transition: all 0.3s ease-in;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner img {
	height: 100%;
	max-height: 460px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	vertical-align: middle;
}

.serie-7 {
	max-width: 500px;
	height: auto !important;
}


.carousel-item .row {
	height: 90%;
}

.img-car, .info-car {
	margin: auto 20px;
	
}

.info-car {
	vertical-align: middle;
}

.info-car .car-ico {
	width: 80px;
	height: 80px;
	display: inline-flex;
	margin: 12px 10px 20px 0;
	vertical-align: middle;
	border-radius: 20px;
	box-shadow: 0px -10px 30px #2c2c2c;
}

.info-car h2 {
	display: inline-flex;
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 3.5rem;
	vertical-align: middle;
	font-weight: 600;
	margin: auto;
}

.info-car h4 {
	font-style: italic;
	margin-bottom: 20px;
}

.info-car p {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.1em;
}


/*--- DESTACADOS INICIO ---*/

.destacados-inicio {
	padding: 60px;
}

.destacados-inicio .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #222222;
    background-clip: border-box;
    border: 0;
	border-radius: 0;
	transition: 0.2s all ease-in-out;
}

.destacados-inicio .card-text {
	font-weight: bold;
}


.destacados-inicio .card-img {
	padding: 20px;
	margin-bottom: 40px;
}

.destacados-inicio .bg-img .card-img {
	vertical-align: bottom;
    margin: auto auto 0;
    padding: 0;
	position: absolute;
	bottom: 0;
}

.destacados-inicio .card-img-overlay .btn {
    position: absolute;
    bottom: 20px;
}

/*--- QUOKKA ---*/

.bg-quokka {
	background:linear-gradient(0deg, rgba(0,129,161,0.5) 0%, rgba(0,80,133,0) 70%);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 300px;
	width: 100%;
}
.img-quokka {
	background: url(../img/quokka/quokka-index.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
}

.quokka .col-6 {
	min-height: 400px;
} 

.quokka h4{
    margin-bottom:20px;
	font-style: normal !important;
}

.dmq-quokka {
	height: 25px;
	display: inline-flex;
	margin-top: -5px;
}


/*--- FOOTER ---*/
footer {
	padding: 60px;
}
.datos-empresa {
	margin-bottom: 40px;
}

.datos-empresa img {
	width: 100%;
	max-width: 200px;
	margin: 10px 0;
}

.datos-empresa .dato-logo{
	float: left;
    max-width: 20px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    height: auto;
}

.datos-empresa .cont-dat-empr{
	display: flex; 
	align-items: baseline;
    margin: 5px 0;
}


.redes-empresa .col-3 {
	padding-left: 0;
	padding-right: 30px;
}

.social {
	fill: #fff;
}

.redes-ico:hover .social {
	fill: #ef7d2d;
	transition: all 0.3s ease-in-out;
}

.foot-border {
	border-left: 2px solid #222222;
	border-right: 2px solid #222222;
	padding: 0 20px;
}

.datos-productos .container {
	padding: 0;
}

.datos-productos .naranja {
	padding-left: 20px;
}

.datos-productos a .cont-dat-prod {
	background-color: transparent;
	color: #fff;
	padding: 20px;
	transition: all 0.3s ease-in-out;
}

.datos-productos a:hover .cont-dat-prod {
	background-color: #222222;
	color: #fff;
	transition: all 0.3s ease-in-out;
	text-decoration: none !important;
	outline: none;
}

.datos-productos a:hover > .cont-dat-prod > .prod-txt > h6{
	color: #fff;
	text-decoration: none !important;
	outline: none;
}

.datos-productos .prod-logo{
	display: inline-flex;
	float: left;
	width: 60px;
	margin: 0 10px 30px 0;
	vertical-align: middle;
}
.prod-txt {
	vertical-align: middle;
}

.prod-txt h6 {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	margin: 0;
	font-weight: 600;
}
.prod-txt p {
	margin-bottom: 4px;
	font-style: italic;
}

.mas-datos {
	padding: 0 0 0 30px;
}

.mas-datos a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.mas-datos a:hover {
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}

.mas-datos .naranja a {
	color: #ef7d2d;
	transition: all 0.3s ease-in-out;
}

.mas-datos a:hover .naranja {
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}




/*--- HEADER SECTIONS ---*/

.titulo-seccion {
    position: relative;
    height: 300px;
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.centered {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
  }



/*--- PRODUCTOS ---*/

#productos, #soporte {
	background: #0f0f0f;
	padding: 60px 0 0;
}


.productos.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/headers-secciones/productos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
}


#productos .card {
	height: 340px;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000;
    background-clip: border-box;
    border: none;
    border-radius: 0;
	margin-bottom: 30px;
	transition: 0.2s all ease-in-out;
	
}

.card:hover {
	transform: scale(1.05);
 	box-shadow: 0 10px 20px rgba(0,0,0,.6), 0 4px 8px rgba(0,0,0,.3);
	transition: 0.2s all ease-in-out;
  }

#productos .card-block {
	height: 340px;
	position: relative;
	z-index: 3;
}

.info-producto {
	padding: 20px;
	z-index: 2;
}

.img-producto {
	padding: 20px 35px 20px 0;
	z-index: 1;
}

.card .img-producto img {
	transition: 0.3s all ease-in-out;
	display: block;
}

.card:hover .img-producto img {
	transform: scale(1.1);
	transition: 0.3s all ease-in-out;
	transition-delay: 0.05s;

}

.card:hover .img-producto img {
	transform: scale(1.1);
	transition: 0.3s all ease-in-out;
	transition-delay: 0.05s;

}

.familia-prod {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	font-size: 34px;
	letter-spacing: 0.1rem;
	line-height: 60px;
}

.info-producto h6 {
	font-style: italic;
	margin-bottom: 15px;
	font-size: 26px;
}

.familia-prod img {
	width: 60px;
	height: auto;
	margin-right: 15px;
	vertical-align: top;
	margin-bottom: 10px;
}

.info-producto .btn {
	position: absolute;
    bottom: 60px;
}

.info-producto p {
	position: absolute;
    bottom: 0px;
	text-transform: uppercase;
	font-size: 16px;
}

.info-producto p.txt-negro {
	font-weight: 600;
}

/*--- FAMILIAS PRODUCTOS ---*/

/*- Headers -*/


.titulo-seccion .titulo-familia{
  flex: 1;
}

.titulo-familia .row {
	margin: 0;
}

.titulo-seccion .img-familia {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.titulo-seccion h2, .titulo-seccion h3 {
	font-weight: 600;
}

.img-familia img {
    width: 100% !important;
    height: fit-content !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.fam .titulo-familia img {
    width: 60px;
    height: 60px;
    margin: 0 20px 10px 0;
}

.fam .certificaciones img {
    width: 60px;
    height: 60px;
	margin-right: 20px;
	-webkit-filter: drop-shadow( 3px 3px 6px rgba(0,0,0,.5));
	filter: drop-shadow( 3px 3px 6px rgba(0,0,0,.5));
}

.fam .titulo-familia h2 {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	margin: 0;
	letter-spacing: 2px;
}

.fam .titulo-familia h4 {
	font-weight: normal;
	margin-bottom: 20px;
}

.series7 .fam .titulo-familia h4 {
	font-weight: normal;
	margin-bottom: 20px;
	padding-right: 130px;
}

/*- NAV familia -*/

.second-nav{
    top: 50px;
}

.second-nav-scroll{
    top: 50px;
	backdrop-filter: blur(5px);
}
.navbar-expand-sm .navbar-nav .nav-link.link-negro {
    color: #000;
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	font-size: 20px;
	transition: 0.3s all ease-in-out;
	letter-spacing: 1px;
}


.link-negro .dot {
	height: 12px;
	width: 12px;
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
	padding: 3px;
	margin-top: 5px;
	transition: 0.3s all ease-in-out;
  }


 .link-blanco .dot {
	  height: 12px;
	  width: 12px;
	  background-color: #fff;
	  border-radius: 50%;
	  display: inline-block;
	  padding: 3px;
	  margin-top: 5px;
	  transition: 0.3s all ease-in-out;
}

  
  
#familia-producto nav a.link-blanco:hover #familia-producto nav a.link-blanco{
	color: #fff;
	transition: 0.3s all ease-in-out;
	background-color: #000;

}
  
  #familia-producto nav a.link-negro:hover .dot, #familia-producto nav a.link-blanco:hover .dot {
	  background-color: #fff;
	  transition: 0.3s all ease-in-out;
	}

  #familia-producto nav .col {
	padding: 0;
  }

.sticky-top {
    z-index: 900;
}

  /*- Familia producto section -*/

  
  #QS5, #QS3, #QS2, #QH7, #QH5, #QH5U, #QH2, #QC5, #QC3, #QC2, #QB7  {
	scroll-margin: 80px 0;
}

  #familia-producto section {
	  padding: 60px 0 0 0;
  }

  .img-serie {
  	position: relative;
  }

  .img-serie img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    padding-right: 20px;
}

.series7 .img-serie{
    min-height: 500px;
	margin: 60px 0;
}

.series7 .caract-serie {
	margin-bottom: 60px;
}


.col-12.caract-serie {
	padding: 0 !important;
}
  
#familia-producto h2 {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	letter-spacing: 2px;
}

  
#familia-producto h4 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 40px;
}

.una-caract {
	margin: 20px 0;
}

.dot-icon {
	width: 60px;
	height: 60px;
}

.svg-icon {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 3px;
}

.svg-icon.ajuste {
	width: 85%;
    height: 85%;
    padding: 5px;
    margin: 5px auto auto 4px;
}

.svg-icon.ajuste2 {
    width: auto;
    height: 100%;
    padding: 12px;
	margin-top: 0;
}

.svg-icon.ajuste2- {
    width: auto;
    height: 95%;
    padding: 10px;
    margin: 2px 0 0 3px;
}

.svg-icon.ajuste3 {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-top: 0;
}
.svg-icon.ajuste4 {
	width: 90%;
	height: 90%;
	padding: 5px;
    margin: 0 auto auto 3px;
}

  .media-body p{
	  font-size: 20px;
  }

  .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.info-serie .btn-group {
	margin: 40px 0 80px;
}


  /* --- SERES ---*/

  .series li {
    padding-left: 5px;
}

  .scrll-sect  {
	scroll-margin: 80px 0;
}

.cont-serie, .serie {
	height: calc(100vh - 55px);
}

.serie .titulo-seccion {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.serie .titulo-seccion .info-serie {
	text-shadow: 3px 3px 6px rgb(0,0,0,0.5);
}


.series7 .serie .info-serie p, .serie .info-serie p {
	margin-bottom: 20px;
}

.serie .img-series {
	display: block;
	width: 100%;
	height: auto;
}

.serie .img-series img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
    max-width: -webkit-fill-available;
    max-height: unset;
}

.series7 .serie .img-series img {
    width: 75%;
    height: auto;
    margin-right: 0;
    margin-bottom: 0;
}

.series7 .serie .precio {
    display: flex;
	flex-direction: row;
    background: #000;
    border-radius: 50px;
    padding: 4px;
    width: 100%;
    max-width: 700px;
	margin: 20px 0 0;
}

.serie .precio {
    display: flex;
    background: #000;
    border-radius: 31px;
    padding: 4px;
    width: 80%;
    margin: 40px auto 0;
    flex-direction: column;
    justify-content: center;
}
.serie .precio p {
    line-height: 2;
    font-weight: 600;
    font-size: 22px;
    margin: auto;
}

.serie .precio .btn-blanco {
    padding: 0.8rem 1.5rem 0.6rem;
}

.series7 .certificaciones .row {
	margin: 0;
}

/*-- NAV Series --*/

.series .series-nav.sticky-top{
    z-index:2;
}

.series .series-nav .nav-link {
    color: #fff;
	transition: all 0.3s ease-in-out;
    padding: 5px 25px;
	margin: 8px auto;
}

#familia-producto.series .info-prod .col-lg-8 {
    padding-right: 60px;
}

#familia-producto.series .info-prod h5 {
	font-weight: 600;
	border-bottom: 8px solid #fafafa;
	margin-bottom: 20px;

}

#familia-producto.series .info-prod .bg-gris {
    background:#202020;
    position: relative;
    top: 0;
    transform: translateY(0);
	padding: 60px 30px 60px;
	margin: 0 -15px 0 0;
}

#familia-producto.series .info-prod .bg-gris:before {
    left: -999em;
    background:#202020;
    content: '';
    display: block;
    position: absolute;
    width: 999em;
    top: 0;
    bottom: 0;
}

.scrll-sect {
	margin-bottom: 60px;
}
/*-- Tabla Modelos --*/
#familia-producto.series .info-prod .table {
    color: #fff;
}

#familia-producto.series .info-prod .table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05) !important;
}

.svg-icon.ajuste5 {
	width: 85%;
    height: 85%;
    padding: 5px;
    margin-top: 3px;
}

  
.nombre-modelo {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
}

.dot-table {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: block; 
    margin: auto;
  }

.dot-false {
	background: transparent;
	border: 3px solid #fff;
	height: 24px;
	width: 24px;
  }


/*-- ESpecificaciones --*/

.espec {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.espec h6 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*--Listo para usar --*/

.video-producto {
	margin-top: 40px;
}

.mas-videos {
	margin-top: 40px;
}

/*-- accesorios --*/

#accesorios .accesorio-uno{
	border-bottom: 1px solid #333;
}

#accesorios .accesorio-uno .texto-acc{
	padding: 20px 0 20px;
}

#accesorios .accesorio-uno img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    background: #fff;
    padding: 10px;
	overflow: hidden;
}

#accesorios .accesorio-uno .img-acc{
	padding: 20px;
}

#accesorios .accesorio-uno .texto-acc h6{
	font-weight: 900;
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	letter-spacing: 1px;
	font-size: 26px;
}


/*-- Certificaciones --*/

#certificaciones .cert-uno {
	border-bottom: 1px solid #555;
	padding: 20px 0;
}

#certificaciones .cert-uno  img{
	width: 100%;
	max-width: 80px;
}

#certificaciones .cert-uno  h6{
	font-size: 24px;
	font-weight: 600;
}

#certificaciones .cert-uno  p{
	margin-bottom: 0;
}

#certificaciones .cert-uno  a{
	margin: 20px 0 10px;
}

#familia-producto.series.f-QS .info-prod .mas-cert {
    font-weight: 600;
    color:rgb(205,176,41);
    margin: 60px 0 10px;
	border: 0;
}



/*-- Info destacada --*/

.series .info-destacada {
    background: #222;
	padding: 40px 20px;
	position: sticky;
	margin-top: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.series .info-destacada.sticky-top {
	top: 140px;
	height: fit-content;
	margin-bottom: 60px;
    z-index: 1;
}

.series .info-destacada .fam-icon {
    width: 50px;
    margin: 0 10px 0 0;
    float: left;
}

.series .info-destacada h3 {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 15px;
	line-height: 50px;
	font-size: 35px;
}

.series .info-destacada p {
	font-style: italic;
	font-size: 24px;
    line-height: normal;
}


.series .info-destacada .img-container {
    /* max-height: 200px; */
    /* text-align: center; */
    position: relative;
    min-height: 200px;
    padding: 0;
    margin: 0 -35px;
}

.series .info-destacada .img-container img {
    position: absolute;
    width: 100%;
    bottom: -40px;
}

.series7 .series .info-destacada .img-container img {
    max-height: 230px;
    margin: 0 auto;
}


.series .info-destacada .precio-container {
	background: #000;
	padding: 4px;
	border-radius: 27px;
	text-align: center;
}

.series .info-destacada .precio-container p {
	margin-top: 15px;
	font-style: normal;
	font-weight: 600;
	width: 100%;
	padding: 0 20x;
	font-size: 20px;

}

.foot {
	display: none;
}


/*--- COMPARATIVA ---*/


.titulo-seccion.comparativa {
    position: relative;
    height: 600px;
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.titulo-seccion.comparativa h3 {
    font-weight: 900;
}

.comparativa .img-familia img {
    width: 100% !important;
	height: auto !important;
    position: absolute !important;
    bottom: 0 !important;
    left: auto !important;
    right: auto !important;
    text-align: center !important;
	display: block;
}

.comparativa .img-familia {
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.card-datacenter {
	margin: 0 0 120px;
}

.card-datacenter .container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/datacenter/backgrund.png);
	background-position: left center;
	padding: 40px;
}

.card-datacenter h3, .card-datacenter h5 {
	font-weight: 600;
}

.card-datacenter h5 {
	color: #d65a00;
}

.card-datacenter .container .img-data{
	text-align: right;
}

.card-datacenter .container img{
	width: 100%;
}

.comp h5 {
	margin-bottom: 40px !important;
}

.comp h6 {
	margin-bottom: 20px;
	font-weight: 600;
}

.comp th {
	vertical-align: top;
}

.comp .media {
	margin-bottom: 20px;
}

.comp .media span {
	font-weight: 900;
}

.comp .dsp-dispo {
	margin-bottom: 80px;
}

.btn-tooltip {
	font-family: 'demeQ', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 22px;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
	color: #FFF;
}

.tooltip .arrow {
    width: 11px!important;
    height: 11px!important;
    bottom: 1px;
  }
  .tooltip .arrow:before {
    width: 0;
    height: 0;
    display: none;
  }

  .notas-comp {
	  margin-top: 60px;
  }

  .notas-comp span {
	  font-weight: 600;
  }

  /*--- DATACENTER ---*/

#datacenter {
	padding: 0;
}

.datacenter .titulo-seccion {
    position: relative;
    height: 300px;
    display: flex;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}

.datacenter.bg-overlay {
    background: linear-gradient(90deg,rgba(0,0,0,.8), rgba(0,0,0,.4)), url('../img/datacenter/backgrund.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
}

.datacenter .titulo-seccion img {
	width: auto;
    max-height: 300px;
}

.datacenter .titulo-seccion h5, .info-datacenter h5, .specs-datacenter h5, .tabla-datacenter h5 {
	color: rgb(239,125,45);
}

.info-datacenter, .specs-datacenter, .tabla-datacenter, .soft-datacenter {
	padding: 60px 0;
}

.svg-dc {
	width: 70px;
	height: 70px;
	margin-bottom: 15px;
}

.titulo-spdc {
	margin-bottom: 80px;
}

.specs-datacenter video {
	width: 100%;
}

#datacenter a .spec {
	background: #111;
	padding: 20px;
	color: #fff;
	margin-bottom: 20px;
	transition: 0.3s all ease-in-out;
	border: 2px solid #fff;
}

#datacenter a:hover .spec {
	background: rgb(239,125,45);
	padding: 20px;
	color: #fff;
	transition: 0.3s all ease-in-out;
	border: 2px solid rgb(239,125,45);
}

#datacenter a .spec h6 {
	font-size: 18px;
	font-weight: 900;
}

#datacenter a .spec p {
	margin: 0;
}


.tabla-datacenter img {
	height: 100px;
}

#datacenter .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #fff;
}

#datacenter .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
}

#datacenter .table thead th, #datacenter .b-bottom {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(239,125,45);
}

#datacenter .bg-qm-icon {
	background: rgb(214,90,0);
	background: -moz-linear-gradient(45deg, rgba(214,90,0,1) 0%, rgba(239,125,45,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(214,90,0,1) 0%, rgba(239,125,45,1) 100%);
	background: linear-gradient(45deg, rgba(214,90,0,1) 0%, rgba(239,125,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d65a00",endColorstr="#ff7007",GradientType=1);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border-radius: 50% 50%;
  }

  #datacenter .soft-datacenter .bg-m {
	background: rgb(214,90,0);
	background: -moz-linear-gradient(0deg, rgba(214,90,0,1) 0%, rgba(1,1,1,1) 60%);
	background: -webkit-linear-gradient(0deg, rgba(214,90,0,1) 0%, rgba(1,1,1,1) 60%);
	background: linear-gradient(0deg, rgba(214,90,0,1) 0%, rgba(0,0,0,1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d65a00",endColorstr="#000000",GradientType=1);
  }

  #datacenter .soft-datacenter img {
	  width: 100%;
  }

  #datacenter .soft-datacenter .txt-soft p.italic {
	  margin-bottom: 80px;
  }

  #datacenter .soft-datacenter .DC-icon {
	width: 80px;
	margin-bottom: 15px;
}

/*--- SOPORTE --*/

#soporte {
	padding: 60px 0 0;
}

#soporte .familia-prod {
    line-height: 1.5
}

#soporte .familia-prod img {
    width: 50px;
    height: auto;
    margin-right: 15px;
    vertical-align: top;
    margin-bottom: 10px;
}

#soporte .img-producto {
    padding: 0;
    margin: 0;
    bottom: -1px;
	margin-top: 20px;
}

#soporte .info-producto h6 {
    font-style: italic;
    margin-bottom: 15px;
    font-size: 18px;
	height: 50px;
}

#soporte .info-producto .btn {
	position: relative;
    top: 0px;
	left: 50%;
    transform: translateX(-50%);
}


#soporte .card-deck {
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap; 
	align-items: stretch;
  }

#soporte .card {
	transition: 0.3s all ease-in-out;
	border-radius: 0;
	padding: 20px 20px 0;
}

#soporte .card .info-producto {
	padding: 0 15px;
}

#soporte .card .img-producto img.series7  {
    margin-left: 6px;
}

#soporte .card .img-producto img {
	transition: 0.3s all ease-in-out;
    margin: 0;
    padding: 0;
    margin-left: 1px;
}

#soporte .card:hover .img-producto img {
	transform: scale(1);
	margin: 0;
	padding: 0;
	margin-left: 1px;

}

#soporte .card:hover .img-producto img.series7 {
	margin-left: 6px;

}

.ttl-sop {
	margin-bottom: 60px;
}

#soporte h5 {
	color: rgb(239,125,45);
}

.sop-lic {
	padding: 60px 0;
}

#soporte .bg-licencias {
    background: linear-gradient(90deg,rgba(0,0,0,.8), rgba(0,0,0,.4)), url('../img/soporte/bg-licencias.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
	padding: 160px 40px;
}

#soporte .bg-licencias .container{
	width: 60%;
    margin-left: 40%;
}

#soporte .bg-registro {
    background: linear-gradient(90deg,rgba(51,22,4,0.8), rgba(51,22,4,0.8)), url('../img/soporte/bg-registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
	padding: 160px 40px;
}


#soporte .bg-registro .container {
	width: 60%;
    margin-right: 40%;
}

#soporte .bg-registro h5, #soporte .bg-licencias h5 {
	color: #fff;
}


#soporte .container.form-iframe, #sol-distribuidor .container.form-iframe {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 55%; /* 4:3 Aspect Ratio */
  }
  
  #soporte .responsive-iframe,  #sol-distribuidor .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 50px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
textarea.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	min-height: 150px;
}

.soporte-fam.bg-overlay {
    background: linear-gradient(90deg,rgba(0,0,0,.8), rgba(0,0,0,.4)), url('../img/datacenter/backgrund.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
}

.gif-serial {
	padding: 0 !important;

}

.gif-serial h5 {
	font-weight: 600;
}

.gif-serial .boton-encendido {
	width: 35%;
	margin-bottom: 10px;
}
.gif-serial p {
	margin: 0;
}

.gif-serial .gif {
    max-height: 300px;
}

.soporte-fam .titulo-familia .row {
	margin-bottom: 30px;
	flex-direction: column;
}

.soporte-fam .titulo-familia .ttl-fam {
	display: flex;
}

.soporte-fam .titulo-familia img {
	width: 55px;
	margin-right: 10px;
}

.soporte-fam .titulo-familia h2 {
    font-size: 35px;
    display: block;
    margin: 8px 0 0;
}

.soporte-fam .titulo-familia h4 {
	font-size: 18px;
	display: block;
	margin-top: 10px;
}

.soporte-f table a svg {
    fill: rgb(255,255,255);
    width: 35px;
    transition: 0.2s all ease-in-out;
}

.modal-sop:hover {
	transform: scale(1.02);
    transition: 0.2s all ease-in-out;
	cursor: pointer;
}

button.video-btn {
	background-color: none;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
}

button span.yt-icon-video svg{
	position: absolute;
	width: 50px;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    fill: rgb(255,255,255);
	opacity: 0.8;
    transition: 0.2s all ease-in-out;
	cursor: pointer;

}

button:hover span.yt-icon-video svg path{
    fill: rgb(255,0,0);
	opacity: 1.0;
    transition: 0.2s all ease-in-out;
	cursor: pointer;

}

.txt-video-sop h6 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: none;
    border-radius: none;
}


.modal-dialog {
    max-width: 55%;
}

.modal-body {
position:relative;
padding:0px;
}

.videos-soporte {
	min-height: 640px;
}


/*--- Licencias ---*/


#licencias h5 {
	color: rgb(239,125,45);
}

#licencias .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(239,125,45);
}

#licencias .table {
    color: #fff;
}

#licencias .table td, #licencias .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: none;
}

.tr-border-qm {
    border-top: 4px solid rgb(239,125,45);
}

 #licencias .cont.form-iframe {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 65%; /* 4:3 Aspect Ratio */
  }
  
  #licencias .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
 
#licencias .lic-serial {
	padding: 40px 0 40px 40px;
}
 

#licencias .lic-serial img {
	width: 100%;
}


/*--- Empresa ---*/

#empresa .historia-demeq, #empresa .trabajo-demeq, #empresa .equipo-demeq, .clientes-demeq {
	padding: 60px 0;
}

#empresa h5 {
	color: rgb(239,125,45);
}

#empresa .historia-demeq img {
	width: 100%;
}

#empresa .historia-demeq .datos-empresa {
	padding: 20px 20px 10px;
	background: #202020;
}

#empresa .historia-demeq .datos-empresa .dato-logo {
    float: left;
    max-width: 28px;
    margin: 0 0 10px 0;
    vertical-align: middle;
    height: auto;
    padding: 0 10px 0 0;
}

.video-trabajo {
	padding-right: 60px;
}

.texto-trabajo {
	padding-left: 60px;
}
 

#empresa .sup-titulo {
	font-size: 18px;

}

#empresa .trabajo-demeq h5.valor {
	font-size: 22px;
}

#empresa .equipo-demeq .card, #distri .trabajo-distribuidor .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

#empresa .equipo-demeq .card:hover, #distri .trabajo-distribuidor .card {
    transform: scale(1);
    box-shadow: none;
}

#empresa .equipo-demeq .card h6 {
    font-size: 20px;
	color: rgb(239,125,45);
	font-weight: 600;
}

#empresa .equipo-demeq .card-img, #empresa .equipo-demeq .card-img-top {
    border-radius: 0;
}

.fundador {
	font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 3px 0;
    opacity: 0.6;
}

#empresa .bg-overlay {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/headers-secciones/productos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
}


.trabajo-distribuidor {
    background: linear-gradient(rgba(239,125,45,0) 20%, rgba(239,125,45,1) 75%), url('../img/empresa/distribuidores.jpg');
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: bottom center;
  }
  
  .trabajo-distribuidor .card {
	width: 90%;
	height: 0%;
  }

  #distri .trabajo-distribuidor {
	margin: 60px 0;
  }
  
  
 #empresa .trabajo-distribuidor h5,  #distri .trabajo-distribuidor h5 {
	color: #FFF;
  }

  /*--- Solicitud Distibuidor ---*/

.sol-distr .titulo-seccion {
    position: relative;
    height: 300px;
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.sol-distr.bg-overlay {
    background: linear-gradient(90deg,rgba(0,0,0,.8), rgba(0,0,0,.4)), url('../img/empresa/distribuidores.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 300px;
}

#sol-distribuidor section {
	padding: 60px 0;
}

#sol-distribuidor h5 {
	color: rgb(239,125,45);
}

.owl-item .item {
   transform: translate3d(0, 0, 0); /* DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
   transform: scale(0.9);
   transition: all .25s ease-in-out; 
   margin: 50px 0; /* OVERWRITE PLUGIN MARGIN */
 }

.testimonials .owl-item .item {
    -webkit-transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}

.testimonials .owl-item.center .item {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.owl-carousel .owl-nav {
    margin: 0;
}

.owl-nav button {
	position: absolute;
	top: 50%;
	background-color: #000;
	color: #fff;
	margin: 0;
	transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
	left: -40px;
  }
  .owl-nav button.owl-next {
	right: -40px;
  }

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-prev:active, .owl-carousel .owl-nav .owl-prev:focus{
    background: url('../img/empresa/testimonials/left_hover.svg') no-repeat !important;
    width:60px;
	height: 60px;
	margin: 0;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-next:active, .owl-carousel .owl-nav .owl-next:focus {
    background: url('../img/empresa/testimonials/right_hover.svg') no-repeat !important;
    width:60px;
	height: 60px;
	margin: 0;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-nav .owl-prev:hover {
    background: url('../img/empresa/testimonials/left.svg') no-repeat !important;
	outline: none;
	transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-nav .owl-next:hover {
    background: url('../img/empresa/testimonials/right.svg') no-repeat !important;
	outline: none;
	transition: all 0.2s ease-in-out;
}


.owl-carousel .item .img-testimonial {
	width: 120px;
    border-radius: 70px;
    overflow: hidden;
	margin: auto;
}

.owl-height {
	height: 1800px;
}

.owl-carousel .item .content-testimonial {
	background-color: #222222;
	padding: 80px 40px 20px;
	margin-top: -60px;
}

.owl-carousel .item .content-testimonial h5{
	text-align: center;
	color: #ef7d2d;
	font-size: 28px;
	margin-bottom: 0;
}

.owl-carousel .item .content-testimonial h6{
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}

.owl-carousel .item .content-testimonial p{
	line-height: 1.7;
}

.owl-carousel .item .content-testimonial .comillas {
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
}

button:focus {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot span {
    background: #555;
	transition: all 0.3s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ef7d2d;
	width: 30px;
	transition: all 0.3s ease-in-out;
}

/*--- Contacto ---*/

#contacto {
	padding: 60px 0;
}

#contacto h5{
	color: #ef7d2d;
}

#contacto .datos-empresa .dato-logo {
    float: left;
    max-width: 20px;
    margin: 0 10px 0 0;
    vertical-align: unset;
    padding: 0;
    /* align-items: baseline; */
}
#contacto .cont-dat-empr {
	margin-bottom: 0px;
}

#contacto .cont-dat-empr a:hover {
	color: #ef7d2d;
}

#contacto .cont.form-iframe {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 110%; /* 4:3 Aspect Ratio */
  }
  
  #contacto .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
  }

  #contacto .google-maps {
	width: 100%; 
	height: 220px;
  }


  /*--- CCOMPRAR ---*/

  #comprar {
	  padding: 60px 0;
  }

  #comprar h5{
	color: #ef7d2d;
}

#comprar .table td, #comprar .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
	color: #fff;
}

#comprar .table a {
	transition: 0.3s all ease-in-out;
}

#comprar .table a:hover {
	color: #ef7d2d;
	transition: 0.3s all ease-in-out;
}

