body {
    background: transparent;
    font-family: 'Adobe Clean', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
	color: rgb(239,125,45);
    font-size: 28px;
}

p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;    
}



.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 50px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
textarea.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
	min-height: 150px;
}

.btn-naranja {
	color: #fff;
    background-color: #ef7d2d;
    font-size: 16px;
    border: 2px solid #ef7d2d;
    border-radius: 50px;
    padding: 0.4rem 1.5rem;
    transition: all 0.3s ease-in-out;
}
.btn-naranja:hover, .btn-naranja:active, .btn-naranja:focus {
	color: #fff;
	background-color: #d65a00;
	border: 2px solid #d65a00;
	transition: all 0.3s ease-in-out;
    box-shadow: none;
}


.btn-borde {
	color: #fff;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0.4rem 1.5rem 0.2em;
    transition: all 0.3s ease-in-out;
}
.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}



@media (max-width: 1024px) {

    .btn-naranja, .btn-borde, .form-control, .custom-select, textarea.form-control {
        font-size: 14px;
    }
    .form-control, .custom-select {
        height: calc(1em + 1rem + 10px);
    }
}

@media (max-width: 692px) {

    .btn-naranja, .btn-borde, .form-control, .custom-select, textarea.form-control {
        font-size: 16px;
    }
    .form-control, .custom-select {
        height: calc(1em + 1rem + 10px);
    }
}



@media (max-width: 545px) {

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .btn-naranja, .btn-borde {
        width: 80% !important;
    }
}










